[2020-01-20 19:25] dr3s commented on #205
I guess you might prefer SO https://stackoverflow.com/questions/59829640/kedro-deployment-to-databricks

[2020-01-21 20:45] #205 closed

[2020-01-23 05:03] khdlim commented on #161
@WaylonWalker If you are OK with logging to a directory defined within the working directory, you can hack that functionality in by overloading ``_setup_logging`` in ``ProjectContext``

https://github.com/quantumblacklabs/kedro/blob/2a71b784fc2940934363b38f3befb2bd52bffda5/kedro/context/context.py#L319-L322

What I have done below is to allow the specification of the optional key ``logging_dir`` i

[2020-01-23 06:05] khdlim opened #206 "Using hierachical parameter/catalog files in configurations"
## Description

Disclaimer: I guess this is not really a feature request since most of the functionality seems to exist in the existing library - just wondering why it is not the default right now for templated projects.

I would like to define parameters gradually in a hierachical manner in the ``conf/`` directory.

For example, I could have a dataset ``MyDataSet`` for which I could use both of `

[2020-01-23 09:41] 921kiyo commented on #149
@philippegr Thank you for raising this! As @idanov mentioned above, our architecture change in framework code is in our plan in the first quarter of this year, mainly improving the usability of KedroContext (and `load_context` etc). Hopefully we will be able to release it at the next major releases in near future :)

[2020-01-23 16:12] 921kiyo commented on #206
For duplicate parameters, you can use `TemplatedConfigLoader` (see https://kedro.readthedocs.io/en/latest/kedro.contrib.config.templated_config.TemplatedConfigLoader.html?#kedro.contrib.config.templated_config.TemplatedConfigLoader). But it is for overloading `create_config_loader`, not the `conf_paths` as you suggested. You could have all common parameters in `globals.yml` like in the doc example

[2020-01-26 18:51] EigenJT opened #207 "[KED-1367] Integration with great-expectations"
## Description
I have been using kedro for a little while now for data engineering/cleaning. A standard step in these processes is testing the data at different steps of the pipeline. To do this, I've been using [great-expectations](https://github.com/great-expectations/great_expectations) to write expectations pipelines that are essentially slotted in between different cleaning/engineering steps.

[2020-01-26 19:45] yetudada commented on #207
Hi @EigenJT! This is fantastic to see. We've been checking out Great Expectations for a while and the team is interested in working with us.

It actually sounds like a `transformer` might be best suited to modify the _save() method on your dataset: https://kedro.readthedocs.io/en/latest/04_user_guide/04_data_catalog.html#transforming-datasets

And these transformers could be added to Kedro's `cont

[2020-01-26 19:49] EigenJT commented on #207
@yetudada That's great to hear! I didn't know about `transformer`s, so I'll have a look and give it a go. Otherwise, if you guys need any help I'd love to contribute in any way I can!

[2020-01-26 20:00] yetudada commented on #207
@EigenJT You can definitely take a stab at it in the meanwhile. We'll appreciate the help!

[2020-01-28 09:21] yetudada commented on #192
This issue was closed with #194. Thank you for raising this!

[2020-01-28 09:21] #192 closed

[2020-01-28 11:59] yetudada opened #208 "How do you feel about the Kedro project template?"
## Introduction
The joy about open-sourcing Kedro is that we've been exposed to diverse opinions and use cases that we didn't think Kedro covered. We're going to proactively ask for feedback and you will see a lot more _"How do you feel about ..."_ GitHub issues raised by the Kedro maintainers as we try to capture your thoughts on specific issues.

First in the series was a question around [introd

[2020-01-28 12:28] datajoely commented on #208
- I'm fine with removing `data` we shouldn't encourage local storage. Same with results.
- I'd keep `logs` since it will be created immediately anyway.
- In `conf` I feel `base` is not immediately clear. Whilst potentially a breaking change - I'd suggest renaming this `public` or `shared`.

[2020-01-28 12:28] datajoely commented on #203
Could you give examples of which statistics you would ideally need?

[2020-01-28 12:44] lorenabalan commented on #198
Thanks Waylon! :) We'll add update the docs to reflect a bit more detail than it does currently.

[2020-01-28 12:45] nraw opened #209 "No matching distribution for kedro"
## Description
Can't install Kedro inside of the basic python docker container

## Context
How has this bug affected you? What were you trying to accomplish?

## Steps to Reproduce
1. docker run -it --rm --name test python:3.8-buster /bin/bash
2. pip install kedro

## Expected Result
Kedro gets installed

## Actual Result
Error is raised and installation stops

[code]

## Your Environment
It's a p

[2020-01-28 12:48] nraw commented on #209
[code]
oh, never mind, sorry

[2020-01-28 12:48] #209 closed

[2020-01-28 12:48] lorenabalan commented on #209
Hi @nraw , Kedro isn't currently available on Python 3.8, which is why you can't pip install it in your environment. You can track the progress of our 3.8 support [here](https://github.com/quantumblacklabs/kedro/issues/124).

[2020-01-28 13:16] yetudada opened #210 "How do you feel about a public discussion forum for Kedro support?"
## Description
We're about to kick off a process of opening up a public discussion forum! We've always known that the maintenance of GitHub Issues and [Stack Overflow](https://stackoverflow.com/questions/tagged/kedro) is not sufficient support.

This might take a while because we have to work with internal structures to get this right. In the meantime, we wanted to get your thoughts on which platf

[2020-01-28 14:03] lorenabalan commented on #198
Closing this as resolved in https://github.com/quantumblacklabs/kedro/commit/417847f2cbabbb5dea3a7af87c6eeb850a20cad5

[2020-01-28 14:03] #198 closed

[2020-01-28 14:06] ZainPatelQB commented on #203
I don't think we have any concrete ideas yet and the statistics we'd collect would likely change, but at a start, we'd like to get a concrete grasp on the number of Kedro users, use of new features we release, and the like.

[2020-01-28 14:22] ThomasLittrell1 commented on #208
- I'm not as big a fan of removing the `data` subdirectories because I utilize them for personal projects (where local storage makes sense). Would it be possible to somehow have different initialization settings? Like 'core' would create the proposed structure and 'full' could create the old full structure? Not sure if that would make things less confusing though...
- I never use `references` or `

[2020-01-28 14:27] ZainPatelQB commented on #203
Could you expand a little on why you'd disable it? (it's perfectly valid, and I disable telemetry wherever I can too, but it'd be good to understand your reasons)

I think this is an orthogonal issue, a user community forum will attract different kinds of users and provide a different kind of feedback mechanism, meaningful in its own way. It's a good medium to gather qualitative feedback and engag

[2020-01-28 14:27] ThomasLittrell1 commented on #203
I'd almost certainly opt out. Bringing Kedro to projects is always a negotiation, and I wouldn't want to make that harder by having to explain that we're sending telemetry data back and working through concerns there.

[2020-01-28 14:33] Minyus commented on #210
It would be great if each post can be searchable by Google.
To the best of my knowledge, Slack posts are not reachable by Google.

[2020-01-28 14:37] ZainPatelQB commented on #210
I agree with this, one widely used platform (things like CircleCI, Monzo, etc...) use https://www.discourse.org (made by one of the StackOverflow co-founders I believe) which is great as a community _forum_. But I wonder how much it adds over github issues. It's less IRC style, like Gitter/Slack/Discord are though.

[2020-01-28 14:49] lorenabalan commented on #191
Closing this as answered, but please feel free to re-open / open a new one if you need further clarifications.

[2020-01-28 14:49] #191 closed

[2020-01-28 14:52] lorenabalan commented on #138
Closing this as answered, but feel free to re-open/open a new issue if you need further clarification.

[2020-01-28 14:52] #138 closed

[2020-01-28 14:55] lorenabalan commented on #188
Hi @barkerje if you're happy with the reply above, please consider closing this issue. :)

[2020-01-29 05:21] khdlim commented on #208
I am a big fan of keeping the data subdirectories because I think the data hierachy that is being used makes sense. It's also good to keep intermediate data artifacts cached on disk for debugging, partial reruns, and guides new users into thinking about how to manage such artifacts in their projects.

I extended ProjectContext to save all outputs to the results folder in timestamped directories bu

[2020-01-29 10:13] lorenabalan commented on #82
Sorry @anuarora1990 this should've been closed a while ago. Starting with Kedro version 0.15.1 there is a resume command that's suggested in the logs after a pipeline fails (`kedro run --from-inputs a,b,c`). It's important to note that the command  won't work if the inputs are `MemoryDatasets`. We might revisit this in the future, but for now I will be closing this issue, please feel free to open

[2020-01-29 10:13] #82 closed

[2020-01-29 10:20] lorenabalan commented on #101
@yzhu32 would the new addition of `PickleDataSet`, using `fsspec`, simplify your work? Please feel free to open a PR.

[2020-01-29 10:42] lorenabalan commented on #116
Closing this as answered, please feel free to open a new one if you have further concerns.

[2020-01-29 10:42] #116 closed

[2020-01-29 12:18] Minyus commented on #82
@anuarora1990

I suffered from the same issue and discussed at:

https://github.com/quantumblacklabs/kedro/issues/30
https://github.com/quantumblacklabs/kedro/pull/60

To solve the pain point, I implemented pipeline resuming option as a wrapper of Kedro.
Here is the GitHub repository:

https://github.com/Minyus/pipelinex

You do not need to specify the Kedro pipeline nodes using `from-inputs` opti

[2020-01-29 12:32] datajoely commented on #208
Perhaps we should include a short readme within the `/data` directory?

[2020-01-29 12:32] lorenabalan commented on #130
Hi @JoostDuisters , I'll go ahead and close this issue, given the fact that pipeline `name` is deprecated, and there is no other metadata on the pipeline that should be preserved. Thank you for raising this though, we'll keep it in mind if we do ever introduce any other information on the pipeline.

[2020-01-29 12:32] #130 closed

[2020-01-29 18:08] lorenabalan commented on #184
Hi @selfishhari , this is fixed in more recent versions of Kedro (I've tried reproducing this with 0.15.5 as well and works better). My best guess, off the top of my head, is that it has to do with this line in the 0.15.4 release notes:
`* Fixed a bug in IPython startup script, attempting to load context from the incorrect location.`
The best solution be to upgrade your kedro project to a newer ke

[2020-01-30 10:04] lorenabalan commented on #184
Closing this as resolved, please feel free to open a new one if you come up against other problems.

[2020-01-30 10:04] #184 closed

[2020-01-30 15:42] WaylonWalker commented on #198
Perfect, Thanks for fixing!

[2020-01-30 18:14] WaylonWalker commented on #149
@philippegr My teams projects currently all run from a modified form of the `kedro new` template and do not use src or touch sys.path.  We have a custom object that stores all of our kedro objects in one place along with run and several other methods (having everything wrapped in one object is quite handy).

In essence this is how we are loading context without touching the path.

[code]

[2020-01-30 18:15] WaylonWalker commented on #149
@921kiyo I am Excited to see the upcoming architecture changes this quarter! Thanks for all of the hard work.

[2020-01-31 03:35] khdlim commented on #206
@921kiyo Thanks, I did not know this feature existed, will look into it!

[2020-01-31 03:35] #206 closed

[2020-01-31 13:27] yetudada commented on #208
Thank you! This is great insight!

I have a further question, is anyone using the global `nodes` directory in `src/<project-name>`, applies to `kedro 0.15.4` and above?

[2020-02-01 01:09] khdlim commented on #208
@yetudada Yes, I put the node logic there and in each module only try to expose functions which are used as nodes (helper functions are set to private).

And then for most of the actual heavy duty code like models, evaluation, metrics I put them into submodules in another folder like `src/<project-name>/engine/models.py`, `src/<project-name>/engine/metrics.py` etc.

[2020-02-03 10:18] nraw commented on #208
Agreed with most what @ThomasLittrell1 wrote.

Suggestion:
Having an option of full project vs core would be nice, so that the bloat is removed in case not needed, but it is kept for larger projects to still be standardised.
In general, I think kedro should try to be modular. It offers a lot, but maybe people want to buy only into a specific feature, like the catalog, without changing all of their

[2020-02-03 17:15] WaylonWalker commented on #210
I really like community that streamlit is building on https://discuss.streamlit.io/.  It seems quite searchable within the platform, I just checked and google picks it up quite well.  It also holds history a bit better like stack overflow or a traditional forum does compared to slack.

**google search** yields results from the community
![image](https://user-images.githubusercontent.com/22648375/7

[2020-02-03 17:16] ZainPatelQB commented on #210
They use discourse! :)

[2020-02-03 17:40] WaylonWalker commented on #208
I really like gatsby's idea of starters.  You can start a new project with any starter from the command line with `gatsby new <project-name> <starter-url`.  You could easily start off with legacy (current format), slim (only core directories), or full (give me the full structure).

A similar effect can be achieved with options in cookiecutter, but I think the community aspect with the gallery make

[2020-02-03 17:58] WaylonWalker commented on #208
We are currently using a custom version of node_global from kedro's predecessor.   All of our nodes live in `<proj_name>/<proj_name>/nodes/<layer>`

We do not use `src`. we use `<proj_name>/<proj_name>`. Its a personal preference.

For normal use I would not recommend `notebooks/`, `data/`, or `results/`.  I do see it being beneficial for learning and creating simple examples.  I think there needs

[2020-02-03 18:02] WaylonWalker commented on #203
For personal projects I would likely not about sending usage statistics.  For work related projects I would likely opt out to stay on the safe side.

[2020-02-03 18:03] benjaminjack commented on #208
I actually like kedro _because_ it has such an opinionated, detailed project template. If anything, more documentation (e.g. READMEs in each directory) would be helpful. I want to minimize the number of decisions I have to make about where data, results, code, docs, etc. have to go for both myself and my team. Just my two cents.

[2020-02-04 14:39] DmitriiDeriabinQB commented on #95
Hi @Minyus, when trying to reproduce your issue, I've managed to get the same exception when importing `pyarrow` before ` ray` even without Kedro being installed in the environment:

[code]

Then in python:
[code]

[2020-02-04 15:10] lorenabalan commented on #94
Hi @AlexandreOuellet I wasn't able to reproduce this since the newer versions of `pyarrow`. Let us know if you've come up against this recently, otherwise I will go ahead and close this issue.

[2020-02-04 15:41] ZainPatelQB commented on #95
From what I can understand, it's not `kedro new` that is the problem, but running any code that includes `import ray` with `kedro run`, since `kedro/cli.py` imports stuff that imports stuff, that eventually imports `kedro.io` which imports datasets which imports `s3fs` which imports `fsspec` which imports `pyarrow`, so`pyarrow` will be present in `sys.modules` long before `kedro run` runs `import

[2020-02-05 08:49] parulML opened #213 "String as an argument to the node in pipeline."
I want to add feature engineering in the pipeline for every feature and for that I want to pass a string as an argument to the function inside the node but that's not allowed in kedro yet and I get following error:-
`ValueError: Pipeline input(s) {"xxxx","yyyy"} not found in the DataCatalog`
So I want to know if there's a way to use string as in argument inside node.

Thanks in advance.

[2020-02-05 09:38] lorenabalan commented on #213
Hi @parulML, you might find this answer helpful: https://stackoverflow.com/questions/58875820/how-to-pass-a-literal-value-to-a-node
If you replace the given example (integer 1), with a string, then you have exactly your case.

[2020-02-05 09:53] atercygnus opened #214 "Can Kedro handle templated queries?"
I apologize if this feature is already implemented, but I can't find one.

Need to have SQLQueryDataSet with parameters.
Something like:

[code]

Can this be done for now?

[2020-02-05 18:33] yetudada commented on #112
This PR has been addressed and Google Big Query support will be available in the next release. The dataset is already available in the `develop` branch: https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/pandas/gbq_dataset.py

It uses [`fsspec`](https://filesystem-spec.readthedocs.io/en/latest/) to load `filepath:`.

[2020-02-05 18:33] #112 closed

[2020-02-05 18:35] yetudada commented on #110
This PR has been addressed and HDF Google Cloud Storage support will be available in the next release. The dataset is already available in the `develop` branch: https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/pandas/hdf_dataset.py

It uses [`fsspec`](https://filesystem-spec.readthedocs.io/en/latest/) to load a GCS `filepath:`.

[2020-02-05 18:35] #110 closed

[2020-02-05 18:35] yetudada commented on #108
This PR has been addressed and Pickle Google Cloud Storage support will be available in the next release. The dataset is already available in the `develop` branch: https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/pickle/pickle_dataset.py

It uses [`fsspec`](https://filesystem-spec.readthedocs.io/en/latest/) to load a GCS `filepath:`.

[2020-02-05 18:35] #108 closed

[2020-02-05 18:38] yetudada commented on #172
@anferico This PR has been addressed and will be ready for the next release. The datasets which retrieve/store data from/on an SSH server are in the `develop` branch: https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras/datasets

They all use [`fsspec`](https://filesystem-spec.readthedocs.io/en/latest/) to load access SSH servers: https://filesystem-spec.readthedocs.io/en/latest/api

[2020-02-05 18:38] #172 closed

[2020-02-05 18:41] yetudada commented on #178
We're on our way to this issue! We're launching these datasets in the next release: https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras/datasets

And we will give users time to use these ones instead. The major release following this will have `io` and `contrib` dependencies removed from Kedro.

[2020-02-05 18:46] yetudada commented on #11
@ulli-snyman This PR has been addressed and full Google Cloud Support will be available in the next release. The datasets are already available in the `develop` branch: https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/

They all use `fsspec` to load `filepath:` and GCS is included in that series: https://filesystem-spec.readthedocs.io/en/latest/_modules/fsspec/registry.

[2020-02-05 18:46] #11 closed

[2020-02-05 18:48] yetudada commented on #145
This will be available in the next release: https://kedro.readthedocs.io/en/latest/04_user_guide/08_advanced_io.html#incremental-loads-with-incrementaldataset

[2020-02-05 18:48] #145 closed

[2020-02-05 18:54] yetudada commented on #182
@dasturge The first part of this query is on its way. We've created [`kedro.extras.datasets`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras/datasets) and will start deprecating all `io` and `contrib.io` datasets to eventually remove their dependencies from Kedro.

The second part is that all of these new datasets are using `fsspec` for file storage abstraction. We have one `C

[2020-02-05 21:45] sarchila commented on #178
Great news @yetudada - thanks so much for your team's responsiveness on this issue 🙌

[2020-02-06 08:38] parulML commented on #213
Thanks, @lorenabalan I did what you suggested but I get below error:-
`AttributeError: 'str' object has no attribute 'items'`

This is the code snipped:-
`    create_feature_engineering_pipeline = Pipeline([
        node(partial(FeatureEngineering.date_features, column_name='DateKey'),
             inputs=['merged_files'],
             outputs=None,
             name="date_features_for_datekey"

[2020-02-06 09:41] DmitriiDeriabinQB commented on #145
Fixed in c7af0f3c61a79b309f0396b642c29c54408d518f and d370b8859700c644af7095b32fc685a20ddfafcc

[2020-02-06 10:31] lorenabalan commented on #213
I'm afraid we can't debug without knowing what the actual node function looks like, and a full stack trace. Your pipeline definition looks fine to me, my feeling is the problem is within the function, not with Kedro itself.

[2020-02-06 12:45] ZainPatelQB commented on #95
Following my above reply, we'll likely be removing `pyarrow` from our core `requirements.txt`, but Kedro will still have an implicit `pyarrow` import when using the CLI because we have `fsspec` as part of our core io library, which imports `pyarrow`.

This should be brought up on Ray's side as a issue to fix, there isn't much we can do. If that's okay with you, I'll go ahead and close this issue.

[2020-02-06 12:58] lorenabalan commented on #94
Closing this as resolved, looks like it was fixed on either `pipenv` or `pyarrow` side.

[2020-02-06 12:58] #94 closed

[2020-02-06 15:35] atercygnus commented on #214
Hi @yetudada! Thanks for answering!

This is nice, and solves a part of my problem, but is many cases sql queries are too complicated to be a single query, and it's convenient to  fetch parts of the data separately, and then merge them in python. In this case it is essential to have templated queries without using additional file globals.yml.

[2020-02-06 15:56] JasonLeungQB opened #215 "Add Great Expectations to Kedro"
Incorporate [Great expectation](https://github.com/great-expectations/great_expectations) to Kedro to validate data ingestion.  On many projects, we have to combine current data with previous achieved data, we would like to validate the two sets of data.

[2020-02-06 15:57] ZainPatelQB commented on #215
Similar issue here https://github.com/quantumblacklabs/kedro/issues/207

[2020-02-06 16:02] JasonLeungQB commented on #215
I will take a stab on incorporating Great expectation to Kedro w/ Deepyaman Datta.

[2020-02-06 16:05] #215 closed

[2020-02-06 16:05] JasonLeungQB commented on #207
I will take a stab on incorporating Great expectation to Kedro with Deepyaman Datta.

[2020-02-06 23:33] yetudada commented on #208
@ThomasLittrell1 What else do you think would help with making Kedro less intimidating for new users? And how do you usually explain data and pipeline abstraction to them? And how can we make this easier for you?

@khdlim What type of outputs do you have and are they listed in the Data Catalog? It sounds like you could use [`versioning`](https://kedro.readthedocs.io/en/latest/04_user_guide/08_adva

[2020-02-07 09:26] #95 closed

[2020-02-07 15:06] WaylonWalker commented on #208
@yetudada I think a curated list of starters is a very powerful tool and can help have different reccomended ways to start a project.  I also see where certain teams will have their own internal things they will need to add that does not make sense, or may not be possible, to open source.  For these cases should the recomendation be to fork the template repo you want to build from  and have your u

[2020-02-07 15:06] ThomasLittrell1 commented on #208
@yetudada Usually I'm just showing them a function, then showing the function in the context of the pipeline and, hey, that thing in `outputs='...'` has an entry in the catalog, and, oh look, here's some parameter value that I'm getting in the function by parsing out a `parameters` dictionary that I'm passing in through the `inputs`.

To explain the abstractions, I try to be make it as non-abstrac

[2020-02-07 22:58] MigQ2 opened #216 "[KED-1369] Allow user to decide type of copy in CachedDataSet"
## Description
I was trying to use a `CachedDataSet` to save/load some pyspark objects (e.g. pyspark MLlib models from a pickle file using a custom DataSet implementation) and I found it failed because it's trying to deepcopy it. I would like to be able to cache this type of datasets and, more broadly, have more control on how datasets are cached.

## Possible Implementation

After investigating a

[2020-02-08 11:47] ZainPatelQB commented on #216
Hi @MigQ2 👋! Thank you for raising this, I've tagged it with our internal number to track this and will raise it with the team on Monday to discuss.

I think in general we're trying to move away from having so many dependencies in Kedro and moving to a install-if-you-need model where the basic Kedro ships with nothing and you install dependencies as you use the relevant datasets.

My thoughts woul

[2020-02-09 09:49] Arcticnode opened #217 "[KED-1371] Confusion around notebooks in Spaceflight Tutorial"
There is some confusion at the point where the spaceflight tutorial starts talking about Jupyter notebooks since they are not introduced.

https://kedro.readthedocs.io/en/latest/03_tutorial/04_create_pipelines.html

Section: "Creating a master table"
We need to add a function to join together the three dataframes into a single master table in a cell in the notebook as follows:

[2020-02-09 13:53] ZainPatelQB commented on #217
Hi 👋, thanks for raising this! The start of the guide does mention Jupyter notebooks briefly, but I agree that the rest of the guide doesn't really talk about notebooks much and then suddenly brings it up again in that section. I'll tag this with our internal ticket number to help keep track of it.

[2020-02-10 16:25] ZainPatelQB commented on #216
Pulling in @idanov who knows a little more about this. :)

[2020-02-10 17:25] idanov commented on #216
Hey @MigQ2, the challenge with PySpark datasets is that they actually contain no data, due to the way Spark works. So when running a Kedro node, you are not executing your operations for spark, but rather just building the execution graph for Spark which executes the operations on your behalf when you decide to save your data. That means that operations like `CachedDataSet` are undefined for Spark

[2020-02-10 21:04] MigQ2 commented on #216
Hi @idanov , thank you for your reply. To clarify a bit more, I **don't** want `CachedDataSet` to trigger the `pyspark.sql.DataFrame.cache()` method, but to cache the python object that contains the DAG and metadata, which is what kedro is now doing correctly for `pyspark.sql.DataFrame` objects.
In my opinion, the current behavior for `DataFrame` is correct, but it's implemented in a very hacky wa

[2020-02-11 21:37] MigQ2 commented on #208
Good initiative @yetudada, thank you for sharing!

I really like the suggested changes, although I would definitely keep [Data Engineering Convention](https://kedro.readthedocs.io/en/latest/06_resources/01_faq.html#what-is-data-engineering-convention) subdirectories in `data`. Even if the local directories are not used because data is in a cloud storage, the convention can be followed there.

Anot

[2020-02-12 20:38] JasonLeungQB commented on #207
Deepyaman and I did some testings, a possible implementation can be to add a transformer to `_create_catalog`.  In the transformer, we can import great_expectations and log the results.

In my development version, I'm using the `SubdirReaderGenerator` generator from great_expectations.yml and have to hard-code the `data_asset_name` in order for great expectations to find the data set that I want i

[2020-02-12 20:53] EigenJT commented on #207
@JasonLeungQB I've got a minimally working transformer that uses the `Kedro` DataCatalog to inform `great_expectations` where datasets are by passing the filepath to the `great_expectations` `DataContext.normalize_data_asset_name` method. Works alright.

As for adding the actual transformer, I've modified the `_create_catalog` method in the `Project Context`. I'll commit some stuff soon...

[2020-02-13 08:35] deepyaman commented on #207
@EigenJT Great to hear that you've got something working (even if minimally)! Look forward to seeing it.

Can you share what your catalog looks like, or at least what generator you're using? I'm curious what kinds of assumptions (if any) you're making in using `normalize_data_asset_name`, as that was kind of where we got to, too.

[2020-02-13 17:18] JasonLeungQB commented on #207
@EigenJT Thank you for the update.  Our first version is to test the data using a Panda dataframe, according to documentation, we can use an in-memory pandas dataframe without using the generator to set up the `batch_kwargs`

<img width="678" alt="Screen Shot 2020-02-13 at 9 48 53 AM" src="https://user-images.githubusercontent.com/56930044/74459753-d6249900-4e59-11ea-8df9-854244a253d0.png">

I tri

[2020-02-13 17:48] EigenJT commented on #207
@deepyaman Here's a snippet of the `Kedro` catalog.yml. In order to use `great_expectations`, I had the transformer essentially replicate some of the functionality from `great_expectations init`. This included creating a `great_expectations.yml`, with the appropriate datasources/generators set up. As long as data is in the `Kedro` `data` folder `great_expectations` should be able to access it. I s

[2020-02-13 20:29] deepyaman commented on #207
@EigenJT Thanks for sharing. I see that you're using `SubdirReaderGenerator` (with whatever `reader_options` set) to generate batches. This works fine as long as each dataset can be read using `reader_options`, and falls under the set of file types supported by Great Expectations. Since Kedro's data catalog defines more specific ways to read data, I was thinking that it might make sense to have on

[2020-02-13 20:37] JasonLeungQB commented on #207
@EigenJT We got it working on the in-memory Pandas dataset in the transformer.   In order to apply ge built-in Expectations, we need to convert the `data` to a ge dataset.

Here is a snippet of the code with two test Expectations (in the transformer).

[code]

[2020-02-13 22:08] EigenJT commented on #207
@deepyaman yeah right now, my implementation only works with datasets that can be read in using `Pandas`. I think the `KedroDataCatalogGenerator` is a great idea. I've committed everything to my repo, so you guys can have a look. The README is a little sparse, but it all works. [https://github.com/EigenJT/kedro/tree/develop/kedro/contrib/great_expectations_transformer](https://github.com/EigenJT/k

[2020-02-14 14:24] ZainPatelQB commented on #216
Hi @MigQ2,

That's incredibly helpful, thank you! Your clarification about wanting to save the python object containing the DAG and that you want to cache the `pyspark.ml.PipelineModel` object has totally clarified things for us.

We've discussed it and think that implementing your solution 3 is probably the best way moving forward (keeps it generalisable for other objects that don't like being de

[2020-02-14 15:36] yetudada opened #219 "Framework Redesign"
## Description
We introduced `KedroContext` last year to orchestrate many things in Kedro and give users a way to extend or override certain functionalities in Kedro.

However, we've received a lot of feedback about `KedroContext`, some identified problems include:
- It's challenging to identify which code you should be modifying in `KedroContext`
- We've also included workarounds that users have

[2020-02-14 16:07] yetudada opened #220 "Modular Pipelines"
## Description
We've seen something incredible evolve through continued use of Kedro. Teams around the world are starting to use Kedro to create stores of reusable pipelines.

Last year, we introduced basic support for [Modular Pipelines](https://kedro.readthedocs.io/en/stable/06_nodes_and_pipelines/02_pipelines.html#developing-modular-pipelines) and this year we're doubling down on this area.

In

[2020-02-14 16:25] yetudada opened #221 "Incremental runs/"Run only missing""
## Description
We're taking the principle of [Change Data Capture](https://en.wikipedia.org/wiki/Change_data_capture) a step further and looking at a way for Kedro to recognise code, parameter and data changes and only re-run the sections that need to be rebuilt to affect the downstream pipelines.

You have called this run-only missing in #82 and #30, and we're finally getting smart about it.

##

[2020-02-16 14:38] Mshindi777 opened #223 "Kedro Tutorial pandas.CSVDataSet not found and kedro.extras ModuleNotFoundError"
## Description

kedro ipython fails with
[code]
if dataset referenced as pandas.CSVDataSet.

## Context
I follow the tutorial until the "Setting up the data"-"Reference all datasets" step. I reference the two datasets as pandas.CSVDataSet and check that the datasets are correctly referenced by running context.catalog.load("companies").head() in a kedro ipython session.

## Steps to Reproduce
1. Cr

[2020-02-16 14:41] ZainPatelQB commented on #223
Hello @Mshindi777! 👋

Thank you for raising this issue. I’ve explained why this is happening in this PR comment here: https://github.com/quantumblacklabs/kedro/pull/222#issuecomment-586580697 and intend to fix it first thing Monday morning.

To view the correct documentation, at the bottom right of the sidebar on the left in the documentation, you should be able to switch the documentation version

[2020-02-16 16:13] Mshindi777 commented on #223
Thank you, I'm closing it.

[2020-02-16 16:13] #223 closed

[2020-02-17 21:20] centraal-g opened #224 "Question-Bug-docs CSVGCSDataSet failed not sure the credentials format. Bug?"
First of all, I want to thanks to the team behind this project/tool, we strongly believe that the principles behind ´kedro´ are very useful to increase the quality of the data-products.

In advance my apologies if this is not the channel for this kind of inquiries. But I'm not 100% sure if the issue is a question, bug or if  is related with GCS documentation in progress to be updated.

## What are

[2020-02-18 21:22] ZainPatelQB commented on #223
This should be fixed now! Thank you for raising it. :)

[2020-02-19 17:58] DmitriiDeriabinQB commented on #224
@centraal-g Kedro relies on `gcsfs.GCSFileSystem` to communicate with the Google Cloud Storage, and the error that you've posted is likely to be a permission error. `GCSFileSystem` uses `full_control` scope by default, which may not be claimed by your credentials.

Could you please make sure that your credentials allow full control to the bucket or alternatively modify your catalog entry as follow

[2020-02-20 02:19] centraal-g commented on #224
@DmitriiDeriabinQB Thanks very much for your help.  You put us in the right direction. We generate the login keys using  the scope argument in  `gcloud auth application-default login` like this:
`gcloud auth application-default login scope = "https://www.googleapis.com/auth/devstorage.full_control"`

With the new keys, We were able to access without using the access flag in the catalog.

Just chec

[2020-02-20 02:19] #224 closed

[2020-02-20 13:32] DmitriiDeriabinQB commented on #224
@centraal-g Glad that it worked! In the next version of Kedro we will unify the access across the cloud providers by leveraging [`fsspec`](https://filesystem-spec.readthedocs.io/en/latest/). So connection and credentials management will be handled by concrete filesystem implementations.

Here is an example of a generic [`CSVDataSet`](https://kedro.readthedocs.io/en/latest/kedro.extras.datasets.pan

[2020-02-20 18:40] eawer opened #227 "".jsonl" datasets support"
## What are you trying to do?
I'm trying to load a dataset that contains of JSON objects - one JSON object per line (http://jsonlines.org/). I tried both `JSONLocalDataSet` and `JSONDataSet` like this:
[code]

If I try to run `context.catalog.load('users')` I see the error
[code]
Can you tell me if I can load `jsonl` datasets right now?

[2020-02-20 19:44] 921kiyo commented on #227
Hi @eawer, thank you for your question! As you can see in https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/pandas/json_dataset.py#L142, `JSONDataSet` uses `pd.read_json` behind the scene, and it takes an argument `lines=True` to accept JSONL (see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html). So you could pass it something like
[code]

[2020-02-20 19:53] eawer commented on #227
Works like a charm, thanks!

[2020-02-20 19:53] #227 closed

[2020-02-21 18:25] DmitriiDeriabinQB commented on #163
@dasturge regarding the second point, our suggestion would be to:
1. specify the `frame_rate` in the parameters
2. feed the frame rate into the dataset definition by templating the catalog via `TemplatedConfigLoader`
3. pass the frame rate into the node as: `node(my_func, inputs=["my_dataset.mp4", "params:frame_rate"])`

[2020-02-21 18:27] DmitriiDeriabinQB commented on #163
Please let us know whether this satisfies your use case

[2020-02-22 15:01] madhao opened #228 "[KED-1454] reload_kedro magic script not working with jupyter"
## Description
I created a new kedro environment and ran kedro jupyter notebook to create a notebook.
Then I execute the %reload_kedro command which gave the following error:
2020-02-22 09:45:31,139 - root - ERROR - Kedro appears not to be installed in your current environment or your current IPython session was not started in a valid Kedro project.

I also executed the kedro ipython command to ge

[2020-02-24 11:39] yetudada commented on #208
Hey everyone! Here's an action on the proposed changes to the project template:

| Folder | Priority Change | Action |
|--------------|---------------|------------------------------------------------------------------|
| `conf` | Medium | Keep, however `base` and `local` will be renamed |
| `data` | Low | Keep sub-directories and include a `README.md` that explains the convention specified [here](

[2020-02-24 15:24] WaylonWalker commented on #208
The way that cookiecutter is typically used is to run `cookiecutter <url-to-git-repo>`  So these could simply be separate git repos.  As a suggestion to have more official suggested ones you could embed an alias inside of kedro such that running `kedro new simple` would call `cookiecutter https://github.com/quantumblack/simple`

I think that it would be really cool to have various projects like th

[2020-02-25 10:28] ZainPatelQB commented on #216
I'm closing this because we've implemented your suggestion in https://github.com/quantumblacklabs/kedro/commit/77dc8117685e7d33e5db6e3745a13edfd11d20b7 and should be releasing a new version anytime now! :)

[2020-02-25 10:28] #216 closed

[2020-02-26 12:14] yetudada opened #230 "Add in more Python virtual environment information"
## Description
We've been asked how Kedro works with `venv` and `pipenv` and have prepared documents that have never landed up in our core documentation.

## Context
This would help users with their queries about `venv` and `pipenv`.

## Possible Implementation
- We follow this documentation style guide: https://github.com/quantumblacklabs/kedro/blob/develop/docs/README.md
- We have the documentat

[2020-02-26 12:35] yetudada opened #231 "Document all decorators in `kedro.extras.decorators`"
## Description
- Our contribution process has changed recently with the introduction of [`kedro.extras`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras), the new 🏡 for all of our datasets, decorators and transformers.
- It's in this place that all contributor can add extensions to Kedro
- We want to track contributions to [`kedro.extras.decorators`](https://github.com/quantumb

[2020-02-26 12:44] yetudada opened #232 "[KED-1395] Document all datasets in `kedro.extras.datasets`"
## Description
- Our contribution process has changed recently with the introduction of [`kedro.extras`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras), the new 🏡 for all of our datasets, decorators and transformers.
- It's in this place that all contributor can add extensions to Kedro
- We want to track contributions to [`kedro.extras.datasets`](https://github.com/quantumbla

[2020-02-26 12:51] yetudada opened #233 "[KED-1397] Document all transformers in `kedro.extras.transformers`"
## Description
- Our contribution process has changed recently with the introduction of [`kedro.extras`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras), the new 🏡 for all of our datasets, decorators and transformers.
- It's in this place that all contributor can add extensions to Kedro
- We want to track contributions to [`kedro.extras.transformers`](https://github.com/quantu

[2020-02-26 13:41] yetudada opened #234 "[KED-1453] Create a Memory Profiler using a Kedro Dataset Transformer"
## Description
- In Kedro, a [transformer](https://kedro.readthedocs.io/en/stable/04_user_guide/04_data_catalog.html#developing-your-own-transformer) allows you to intercept the `load` and `save` operations on Kedro `DataSets`
  - Use cases that transformers enable include performing data validation using libraries like [Great Expectations](https://github.com/great-expectations/great_expectations)

[2020-02-26 14:01] yetudada opened #235 "[KED-1403] Delete `kedro.contrib`"
## Description
- We recently introduced [`kedro.extras`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras), the new 🏡 for all of our datasets, decorators and transformers.
- [`kedro.extras`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras) replaces a number of files and directories in Kedro
- In this task, you need to deprecate [`kedro.contrib`](https://githu

[2020-02-26 14:26] limdauto opened #236 "[KED-1433] Create an end-to-end test to verify that new patch release doesn't break backward compatibility"
## Description

We want to maintain backward compatibility in Kedro's patch releases. For example, releasing `0.15.6` shouldn't break the main `kedro run` for projects generated with version `0.15.0` to `0.15.5`. Therefore, we should write an end-to-end test in which we generate a project using the earliest Kedro patch version (i.e. `0.X.0`) for the current minor version (`0.X`) and make sure that

[2020-02-26 14:38] 921kiyo opened #237 "[KED-1404] Remove trufflehog pinned dependency in test_requirements.txt"
## Description

One of trufflehog's dependencies dependency upgraded itself and broke everything (see https://github.com/dxa4481/truffleHog/issues/200).

We've pinned it inside test_requirements as a temporary workaround, but it is fixed in their side. So we would like to remove the line in `test_requirements.txt`

[code]
While doing this,  remember to bump the lower bound of trufflehog.

[2020-02-26 14:40] yetudada opened #238 "[KED-1442] Delete `extras`"
## Description
- We're busy with house-cleaning and in this task, you need to deprecate this [`extras`](https://github.com/quantumblacklabs/kedro/tree/develop/extras) directory
- It's been relocated in the latest release to [**here**](https://github.com/quantumblacklabs/kedro/tree/develop/tools)

## Context
- You're helping with our large-scale clean-up of Kedro

## Possible Implementation
- You'r

[2020-02-26 15:43] lorenabalan opened #240 "[KED-1108] Improve auto-generated node names"
## Description & context
Users can specify names for their nodes to identify them more easily. When a name is not explicitly specified, Kedro auto-generates a default name. You can see this in the `name` property on `Node`.
The current auto-generated name for a node looks something like this: `func_name(inputs) -> outputs`. (see implementation of `__str__` method on the `Node` class)

This is a bi

[2020-02-26 15:57] yetudada opened #241 "[KED-1408] Delete some of the `AbstractDataSets` in `kedro.io`"
## Description
- We recently introduced [`kedro.extras`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras), the new 🏡 for all of our datasets, decorators and transformers.
- [`kedro.extras`](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras) replaces a number of files and directories in Kedro
- In this task, you need to deprecate some of the datasets in [`kedro

[2020-02-26 16:02] lorenabalan opened #242 "[KED-996] Parallelise loading and saving of datasets"
## Description & context
Currently, when running a node, input datasets are loaded sequentially, and similarly on saving. The relevant code snippet is under `def run_node` in `kedro.runner.runner`. One way to optimise this is to instead load and save in parallel, so we save time.

## Possible Implementation
There could be a flag on the runner class (see `AbstractRunner`), which would allow users t

[2020-02-26 16:27] 921kiyo opened #243 "[KED-950] Turn on the branch coverage for unit tests"
## Description
Kedro has to have 100% test coverage at C0 (every instruction), but we could make it more robust by changing from C0 to C1 (branch coverage).

See the coverage level in  https://grosser.it/2008/04/04/whats-my-coverage-c0-c1-c2-c3-path-coverage/

## Context
This would improve the test coverage of Kedro codebase, meaning our codebase will be more robust.

For the detail of branch cove

[2020-02-26 16:33] yetudada opened #244 "Convert Pharmaceutical ML pipeline into a pipeline `.json`"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-examples/issues/24

[2020-02-26 16:34] yetudada opened #245 "[KED-1381] Update `kedro-tutorial` to the latest version of Kedro"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-examples/issues/23

[2020-02-26 16:35] yetudada opened #246 "[KED-1452] Create new Starter using Kaggle's Titanic dataset"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-examples/issues/22

[2020-02-26 16:46] yetudada opened #247 "Update training documentation to reflect changes to project template"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-examples/issues/25

[2020-02-26 16:57] 921kiyo opened #248 "[KED-1404] Remove trufflehog pinned dependency in test_requirements.txt for Kedro-Airflow"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-airflow/issues/47

[2020-02-26 16:59] 921kiyo opened #249 "[KED-1451] Upgrade pylint to 2.4 for Kedro-Viz"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-viz/issues/120

[2020-02-26 17:00] 921kiyo opened #250 "[KED-1404] Remove trufflehog pinned dependency in test_requirements.txt for Kedro-Viz"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-viz/issues/119

[2020-02-26 17:04] yetudada opened #251 "[KED-1381] Update training documentation to reflect changes to the Data Catalog (Part 1)"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-examples/issues/26

[2020-02-26 17:04] yetudada opened #252 "[KED-1381] Update training documentation to reflect changes to the Data Catalog (Part 2)"
## Description
- We have GitHub issues in other Kedro repositories
- Here is the link to this one: https://github.com/quantumblacklabs/kedro-examples/issues/27

[2020-02-26 19:03] w0rdsm1th commented on #246
I'm gonna work on this one

[2020-02-26 19:09] w0rdsm1th commented on #244
i'm gonna work on this one!

[2020-02-26 19:11] Seraph2000 commented on #237
I'm looking into this one!

[2020-02-26 19:13] probablyhungryrn commented on #235
I am happy to work on this one!

[2020-02-26 19:13] WKND21 commented on #238
Currently working on this

[2020-02-26 19:17] SJDunkelman commented on #240
Working on this

[2020-02-26 19:20] Klio-Foxtrot187 commented on #233
I am currently working on this.

[2020-02-26 19:36] crdoconnor opened #254 "[KED-1456] Include Dockerfile to run tests"
## Description

Problem:

* the unit tests have specific environmental requirements - both a specific version of miniconda and java - #255
* The behave tests also have specific environment requirements - #262

## Context

Checking out the project and running pytest on an average ubuntu distro fails with cryptic error message (related to environment, but this isn't obvious, tests require specific v

[2020-02-26 19:39] crdoconnor opened #255 "pytest fails on freshly checked out codebase if certain environmental prerequisites are not met"
## Description

Fails with a somewhat cryptic error:

[code]

## Context

Was running all the tests with pytest.

## Steps to Reproduce

1. Check out project
2. Run pytest.

## Expected Result

Tests should pass.

## Actual Result

Tests don't pass.

## Your Environment
Include as many relevant details about the environment in which you experienced the bug:

* Kedro version used : latest
* Python

[2020-02-26 19:47] neomatrix369 opened #256 "[Docs] Quick flow of steps for first-time developers to Kedro"
## Description

For both first-time developers or seasoned developers it would be good to have some defined workflow under a section in the [CONTRIBUTING.md]() file.

## Context

I couldn't find the first things to do to make sure I can build `kedro` and also next steps in the workflow once we are familiar with `kedro`.

For e.g. have a look at https://kedro.readthedocs.io/en/stable/02_getting_sta

[2020-02-26 19:49] bayesianluxury commented on #247
Mine!

[2020-02-26 19:50] priyanka1414 commented on #230
Taking this one

[2020-02-26 19:54] foolsgold commented on #231
I'm working on this!

[2020-02-26 20:06] pitterb commented on #248
I'm taking this one

[2020-02-26 20:07] Cheukting commented on #243
I can have a look at this

[2020-02-26 20:27] w0rdsm1th commented on #244
all done (i think)

[2020-02-26 20:36] priyanka1414 commented on #241
Got this one

[2020-02-26 20:37] w0rdsm1th commented on #242
i am looking at this one!

[2020-02-26 20:40] crdoconnor opened #262 "[KED-1457] behave fails on freshly checked out repo"
## Description

Behave tests fail on freshly checked out repo.

## Actual Result

[code]

Error appears to be related to this line:

[code]

The behave tests run correctly if the environment variable E2E_VENV is set, suggesting that this is related to a failure to create a virtualenv in behave.

## Your Environment
Include as many relevant details about the environment in which you experienced the

[2020-02-26 20:45] bayesianluxury commented on #247
Updated here - https://github.com/quantumblacklabs/kedro-examples/pull/29

[2020-02-26 20:45] Klio-Foxtrot187 commented on #232
I am working on this task at the moment.

[2020-02-26 20:45] w0rdsm1th commented on #242
nevermind, somebody else already looking at it

[2020-02-26 21:00] ZainPatelQB commented on #255
Is this because of your java version? We’ve added a small note in the `CONTRIBUTING.md` under the “running tests locally” section about this: https://github.com/quantumblacklabs/kedro/blob/develop/CONTRIBUTING.md#ci--cd-and-running-checks-locally

[2020-02-26 21:00] crdoconnor opened #264 "Consider parsing YAML config files with StrictYAML"
## Description

Currently kedro uses anyconfig which uses pyyaml (& also parses JSON).

StrictYAML would let you enforce a schema and give clearer error messages when users of your framework have made.

Potential issues:

- It's very opinionated and doesn't allow the use of certain YAML 2.0 features which kedro uses (nodes/anchors and flow style).
- If the structure of the YAML you use requires re

[2020-02-26 21:48] w0rdsm1th commented on #176
FYI both, I am going to take a look at this as part of today's pysprint. basically transplanting @williamashfordQB's code and adding test cases

[2020-02-26 22:43] neomatrix369 opened #265 "[KED-1456] Docker environment for developers"
## Description

I had issues building and running `kedro` tests on my MacOSX environment. Haven't had these conflicts in dependencies when working with other projects or packages. It's possible it's an isolated case but there is a chance it might happen to someone else's development environment.

## Context

Instead of immediately trying to debug this issue, I decided to create a docker environmen

[2020-02-26 22:45] ZainPatelQB commented on #265
Is this related to/a duplicate of: https://github.com/quantumblacklabs/kedro/issues/254? :)

[2020-02-26 22:56] neomatrix369 commented on #265
It's going to have additional functionality than just running tests in the docker environement.

You get a prompt inside the docker container where you can run all your commands from etc..

[2020-02-27 09:45] williamashfordQB commented on #176
Cheers and enjoy!!

[2020-02-28 13:34] yetudada commented on #244
You are! Thank you @w0rdsm1th! I'll close this ticket now.

[2020-02-28 13:34] #244 closed

[2020-02-28 13:37] yetudada commented on #247
Thank you so much @bayesianluxury! Great work! I'll close this issue now because it's complete.

[2020-02-28 13:37] #247 closed

[2020-02-28 13:54] #231 closed

[2020-02-28 15:35] neomatrix369 commented on #256
Closing as PR is merged now!

[2020-02-28 15:35] #256 closed

[2020-02-28 15:48] neomatrix369 commented on #265
@ZainPatelQB I now have a PR - so you can see how this will be different from #254 - although both should persist

[2020-02-28 16:35] neomatrix369 opened #269 "[KED-1727] Only trigger CI/CD (CircleCI) when there are code related changes in the repo"
## Description

Currently, every commit results in a CI/CD trigger even when non-code related changes are made in the pull request. Especially when a lot of docs or README changes are made.

This will help release build resources and also not put the PR on hold till the build process is finished, especially helpful when small changes are made and many of them have made them - reducing the number o

[2020-02-28 17:05] DmitriiDeriabinQB commented on #230
Addressed in #260

[2020-02-28 17:05] #230 closed

[2020-02-28 21:36] martindurant commented on #26
I have only just now become aware of this issue. Please let me know what you need from Intake to ease its adoption, if you still think it's a good idea. Note that it's probably easy to use your existing prescriptions, but create an Intake Catalog from them. As discussed in the linked issue above, the most immediate advantage might be hooking into (`fsspec`)[https://filesystem-spec.readthedocs.io/]

[2020-02-28 21:44] ZainPatelQB commented on #26
re: your point about using `fsspec`, that's exactly what we did in our latest [release](https://github.com/quantumblacklabs/kedro/blob/develop/RELEASE.md#new-datasets) (without using Intake) and it's awesome, thanks for your work on it! 🎉

[2020-02-29 12:25] idanov commented on #26
@martindurant Glad to see you in this thread. We've been thinking internally how we can integrate best with `intake` and since we've been focusing mainly on other things recently, we haven't progressed much on the ideas front. We're really open to ideas how we can leverage intake beyond `fsspec`, which we found very useful indeed - great work!

[2020-02-29 13:52] 8-u8 opened #271 "Is MatplotlibLocalWriter same to MatplotlibWriter?"
I'm trying to save some plots to local folder by matplotlib based on [this document](https://kedro.readthedocs.io/en/stable/kedro.contrib.io.matplotlib.MatplotlibLocalWriter.html?highlight=matplot).

However, I received `ImportError` below:

I checked function names in `kedro.contrib.io.matplotlib`, and found similarly function `MatplotlibWriter`.

Are they same function? If so, I suggest to edit

[2020-02-29 14:02] yetudada commented on #271
Hi @8-u8! Thank you for raising this error. What version of Kedro are you using?

In `kedro 0.15.6` and `kedro 0.15.7`, we are deprecating [`MatplotlibLocalWriter`](https://kedro.readthedocs.io/en/stable/kedro.contrib.io.matplotlib.MatplotlibLocalWriter.html) in favour of [`MatplotlibWriter`](https://kedro.readthedocs.io/en/stable/kedro.extras.datasets.matplotlib.MatplotlibWriter.html). We release

[2020-02-29 14:16] 8-u8 commented on #271
Thank you @yetudada !
I've checked version, then it was 0.15.5....!
I will upgrade Kedro to latest version.

[2020-02-29 14:18] yetudada commented on #271
Upgrade and let me know if this sorts out your issue. I'll only close this issue when you have successfully managed to use the new `MatplotlibWriter`.

[2020-03-01 05:10] kuldeep-singh-duhan opened #272 "Installation instruction does not contain set up with Docker"
## Description
Most of the developers are using python with Docker now a days and I see instructions contain only conda and pycharm. I will suggest to have the setup with Docker as well

## Context
I still find it difficult to setup Kedro on localsetup, however when I did with Docker it was much simpler and reproducible, hence would like to add this feature and if needed I can do that and contribu

[2020-03-02 15:21] WaylonWalker opened #273 "request cli command - kedro list"
## Description

I have some use cases where it would be nice to list things out of the command line.

## Context

I would like to do things such as saving all pipelines to JSON from the command line, but in order to do that, I need a way to list the pipelines.

## Possible Implementation
 I think rather than cluttering all the top level with many list commands I think a single list command with va

[2020-03-02 15:26] ZainPatelQB commented on #273
I think this is something we’re actively working on at the moment! 😀

[2020-03-02 15:28] WaylonWalker commented on #273
Great! Thanks for the quick reply @ZainPatelQB.

[2020-03-02 15:28] #273 closed

[2020-03-02 15:46] neomatrix369 commented on #272
@kuldeep-singh-duhan good idea, please have a look at the issue #265 and also the PR #268 - please see if what you have expressed above is covered partially if not fully.

[2020-03-03 02:19] pmbaumgartner commented on #223
@ZainPatelQB

I just did a fresh install of Kedro and am still getting this error. The `stable` docs (and `0.15.6/.7`) say to use `pandas.CSVDataSet`. Upon using that in the `catalog.yml` and attempting a `kedro run`, I get:

[code]

[2020-03-03 02:21] ZainPatelQB commented on #223
Hi @pmbaumgartner,

We’re aware of this and it’s due to the way we handle our dependencies. As a stopgap for now, `pip install “kedro[all]”` should get you up and running.

[2020-03-03 07:37] kuldeep-singh-duhan commented on #272
Yes, it looks good and work. I will close my issue

[2020-03-03 07:37] #272 closed

[2020-03-03 11:54] pmbaumgartner commented on #223
@ZainPatelQB Great, will do! Is this listed in the docs somewhere and I missed it? I was migrating from an old version of Kedro and reviewing the data catalog, so it's possible I could have missed this earlier in the docs.

Thanks for your help and awesome work with Kedro.

[2020-03-03 13:01] ZainPatelQB commented on #223
@pmbaumgartner Nope, it's a bug on our end. :( We're trying to release a patch today or tomorrow to get it fixed and we're implementing steps to make sure it doesn't slip through again. :)

Thank you for the report and being engaged, it's super helpful!

[2020-03-03 17:09] vincenzo-scotto001 opened #274 "Getting errors Using SQL with Kedro"
What I am trying to do is pass in credentials to the catalog.yml file. The error I keep getting is:
(pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: http://sqlalche.me/e/rvf5)

I checked my ODBC and tested all the drivers and all give me this error. Here is t

[2020-03-03 18:58] vincenzo-scotto001 commented on #274
So it seems that that isn't exactly the correct syntax. I had to do something along these lines to get my next error:
"DRIVER={SQL Server Native Client 11.0};SERVER="111.11.111.11";DATABASE="DBname";UID="Username";PWD="password""

Error is:
get_single_data
    node = self.get_single_node()
  File "ext\_yaml.pyx", line 707, in _yaml.CParser.get_single_node
  File "ext\_yaml.pyx", line 725, in _yaml

[2020-03-03 21:44] saccodd commented on #223
@pmbaumgartner got the same error but fixed it replacing pandas.CSVDataSet with CSVLocalDataSet, as mentioned by @ZainPatelQB in the PR comment above

[2020-03-03 21:47] ZainPatelQB commented on #223
Hi @saccodd,

Using CSVLocalDataSet will work, but it’s currently deprecated and will be removed in 0.16 onwards. The solution here is to run `pip install “kedro[all]”` and continue using the (recommended) `pandas.CSVDataSet`.

We’ll be releasing a patch tomorrow or soon to make it work out of the box. Thanks for raising this. :)

[2020-03-03 21:57] saccodd commented on #223
perfect, thanks!
I'm testing kedro 15.5 and trying `pip install “kedro[all]”` didn't solve my problem (seems this version does not provide the extra 'all').

[2020-03-03 21:58] ZainPatelQB commented on #223
Ah, this applies to 15.6 and 15.7, on 15.5, we only have CSVLocalDataSet and not pandas.CSVDataSet

[2020-03-05 07:12] deepyaman opened #275 "[KED-1458] Versioning extremely slow on DBFS"
## Description
Our pipeline running on Azure Databricks has gotten progressively slower. Somebody noticed that running on a fresh set of paths (without so many versions) was significantly faster. Further investigation yielded that it wasn't because of the data itself; instead, it's finding the existing versions that's prohibitively slow. Specifically, underlying functions used by `iglob` (like `os

[2020-03-05 07:14] deepyaman commented on #275
I can add much more detail (line-by-line profiling, etc.) tomorrow, if that would help. I have most of it already.

[2020-03-05 07:41] deepyaman commented on #275
# Line-by-line profiling of `iglob`

`_iterdir` only:
[code]

Full output:
[code]

[2020-03-05 07:45] deepyaman commented on #275
# Improving `os.scandir` performance

`_iterdir` only:
[code]

Full output:
[code]

[2020-03-05 07:53] deepyaman commented on #275
Between https://github.com/quantumblacklabs/kedro/issues/275#issuecomment-595074243 and https://github.com/quantumblacklabs/kedro/issues/275#issuecomment-595075657, the time spent on line 124 has disappeared! The remaining bottleneck is line 92. However, since we've patched the code that creates `dirs`, we don't even need this check anymore (i.e., `dbutils.fs.ls` will only return files that exist)

[2020-03-05 17:04] mzjp2 commented on #275
This is a great writeup, thanks for such a detailed issue 👌

[2020-03-05 17:32] #189 closed

[2020-03-06 11:46] MigQ2 opened #277 "[KED-1475] SparkDataSet fails in Windows using Databricks connect when reading from DBFS"
## Description

Using a Windows machine with Databricks connect to load a `SparkDataSet` in DBFS throws an Exception

## Context
`SparkDataSet` implementation in Windows creates the `_filepath` attribute using `Path()` in `__init__()`, except when the filepath prefix is for S3 or HDFS, in which case there is a special logic.
This way a `WindowsPath` is generated by default, but if we want to refer

[2020-03-06 12:05] MigQ2 commented on #277
I realized in the documentation of `SparkDataSet` it hints to specify ``filepath``s for (versioned) ``SparkDataSet``s starting with ``/dbfs/mnt``, but I tried and got the same error.

[2020-03-06 19:34] vincenzo-scotto001 commented on #274
I solved the issue.

Seems like odbc does not work nicely with Kedro. For anyone else that may have a similar issue in the future, use myssql instead for the connection string in the credentials.yml file.

[2020-03-06 19:34] #274 closed

[2020-03-09 10:27] yetudada commented on #250
This issue got picked up and solved! Thank you! 🎉

[2020-03-09 10:27] #250 closed

[2020-03-09 10:47] yetudada commented on #232
@Klio-Foxtrot187 Let us know how you're getting on with this. Thank you so much for helping us!

[2020-03-09 10:51] yetudada commented on #228
@madhao Are you still dealing with this issue? We're going to put it on our backlog to fix.

[2020-03-09 11:01] yetudada commented on #262
Hi @crdoconnor, we're going to look into this one. I've created a ticket on it on our backlog. Thanks for raising this!

[2020-03-09 11:05] 921kiyo commented on #262
Hi, thank you for reporting the bug! Could you please describe the steps of commands you ran, so we can reproduce the error?

[2020-03-09 11:07] neomatrix369 commented on #255
Potentially can be fixed with a Docker environment proposed by #46 and #254, we could ensure the specific version of Java is installed in the image.

[2020-03-09 11:20] crdoconnor commented on #262
I got the error running the behave test command with make on a freshly
checked out repo on Ubuntu 17.10.

On Mon, 9 Mar 2020, 11:05 Kiyohito Kunii (Kiyo), <notifications@github.com>
wrote:

[2020-03-09 11:33] mrg143504 opened #278 "[KED-1561] Rename SparkHiveDataSet"
## Description
`SparkHiveDataSet` does not really depend on Hive but on tables that are registered in `spark.sql`. There are some cases where `spark.sql()` does not point to a Hive database (e.g. in Databricks you can access data that is registered in spark tables but the backend might not be a Hive database).
Now that datasets are undergoing a big refactoring, how about renaming this to `SparkTab

[2020-03-09 13:03] neomatrix369 commented on #269
Is this a desirable thing to do wrt to the CI/CD build system for Kedro? Happy to discuss this further.

[2020-03-09 13:33] MigQ2 opened #279 "[KED-1466] SparkHiveDataSet is slow to initialize in Databricks"
## Description
I'm using `SparkHiveDataSet` to connect with some Databricks tables and I have seen that the code in **`SparkHiveDataSet.__init__()` loads the dataset to find the columns it has** and checks if the table already exists. This triggers a short spark action which takes little time (~5 seconds) for each dataset when the catalog is initialized. Therefore, if I have **hundreds of `SparkHi

[2020-03-09 13:38] mzjp2 commented on #269
Thanks for raising this. IMO, I don't think the added complexity here is worth the small amount of time saved. We run all our build steps in parallel, so they all complete within ~5-8 minutes, removing unit tests for a pure docs build PR will still take ~5-8 minutes because it runs the docs, but doesn't run unit tests (which would have run in parallel anyway).

Moreover, it's hard to make sure we'

[2020-03-09 14:48] yetudada commented on #221
I'm going to link some of #225 to this. It had some great ideas that we could use here.

[2020-03-09 17:00] 921kiyo commented on #248
Resolved in https://github.com/quantumblacklabs/kedro-airflow/pull/48

[2020-03-09 17:00] #248 closed

[2020-03-10 11:02] 921kiyo commented on #237
Resolved in https://github.com/quantumblacklabs/kedro/commit/43788266d5d69a961d81fef299f3c959e35f8f92

[2020-03-10 11:02] #237 closed

[2020-03-11 14:08] Mar1cX opened #282 "Parameter variations during single kedro execution instance (multiple Pipeline executions with different parameters)"
## What are you trying to do?
Hello. I will start with that I'm still new at Kedro and I haven't explored every part of it yet, but I have a grasp of how things overly work. During development of Pipeline architecture it looks like that there is no clear way of making defined parameter variations. What I mean by that (in parameters.yml file) I would want to define:
[code]
After that when executing

[2020-03-12 06:16] ppsimatikas opened #283 "[KED-1467] Create an API Dataset"
## Description
I would like an API Dataset. Example:

us_corn_yield_data:
  type: kedro.extras.api.APIDataSet
  url: https://quickstats.nass.usda.gov
  params:
    key: API_KEY
    format: JSON
    commodity_desc: CORN
    statisticcat_des: YIELD
    agg_level_desc: STATE
    year: 2000

## Context
As a data engineer I always need to fetch data from restful APIs.
Having a common dataset of doing s

[2020-03-12 09:22] lorenabalan commented on #282
Hi @Mar1cX , you're right that one set of static configuration corresponds to a single run. If there's magic happening, like 4 different runs with one config, it'd be hard to trace back in case of failure - which _exact_ combination of parameters failed?
Instead you can define multiple environments, in which you overwrite the values of parameter1 and parameter2.

combo1.yml
[code]
etc.
and run `ke

[2020-03-12 11:18] idanov commented on #282
Hi @Mar1cX, welcome to Kedro's community and thank you for your suggestion!
Kedro's main purpose is to help data scientists and data engineers define their high-level pipeline, reagardless what underlying libraries they use. For the particular usecase you mention, we'd recommend users to use `scikit-learn` to do the hyperparameter search or add a for loop in their nodes iterating through all the c

[2020-03-12 14:37] Klio-Foxtrot187 commented on #232
Hi, apologies for the delay as I am currently in my exam week, with resume with this next week!

[2020-03-12 20:37] adengappa opened #287 "[KED-1474] SparkSession initialized when using parallel runner throws random errors"
## Description
I'm trying to use Kedro's parallel runner to parallelize a few independent pipelines in my set of pipelines which have only sparkDatasets as input. Unfortunately  unable to do so since parallel runner with a pre established sparkSession. or spark-submit.

## Context
How has this bug affected you? What were you trying to accomplish?
Trying to achieve parallelism when possible in my s

[2020-03-12 22:01] neomatrix369 commented on #269
@mzjp2 Sorry for the delay in reply, so good points raised although my views are:
- it's about separating the wheat from the chaff (if that's the right terminology)
- always trying to reflect the actual as much as possible (less to check)
- I don't see much complexity here - if the separation between included files/folders (or excluded files/folders) is clear

What do I mean by that?
- atm you wil

[2020-03-13 16:14] uwaisiqbal opened #288 "Error when Loading Compressed JSON DataSet through the Catalog"
I have a dataset defined in my DataCatalog which is a gzip compressed JSON lines file that I would like to load through Kedro using a JSONDataSet. I have the following definition in my DataCatalog:

[code]
However, when I try and load this dataset through a Kedro ipython session with the command:

[code]

I get the following error message:

[code]

I did some digging and it turns out GZIP adds an

[2020-03-13 16:48] lorenabalan commented on #288
Hi @uwaisiqbal , good to see you back here! Thanks for a really well-written issue!

I believe the ability to pass a path object into `pandas.read_json()` is only possible since pandas 1.0.0. The older versions, which Kedro is compatible with, expect a string which is a valid JSON or a file-like object, which is why we go through `_fs.open(...)`. The string can also be a URL, but that's not someth

[2020-03-13 17:39] yetudada commented on #178
@sarchila this issue can finally be closed. Commit [ecd7277](https://github.com/quantumblacklabs/kedro/commit/ecd7277c28b7c962d9ab7f25a1f240d540a206c9) has addressed this change. Thank you so much for submitting this request!

[2020-03-13 17:39] #178 closed

[2020-03-13 17:40] yetudada commented on #57
It's finally possible to build Kedro-Glue! Commit [ecd7277](https://github.com/quantumblacklabs/kedro/commit/ecd7277c28b7c962d9ab7f25a1f240d540a206c9) has addressed removal of `pandas` and `numpy` from our core dependencies. Good luck with the plugin! Let us know if you need help.

[2020-03-13 19:15] yetudada commented on #182
@dasturge The new datasets are out and finally commit [ecd7277](https://github.com/quantumblacklabs/kedro/commit/ecd7277c28b7c962d9ab7f25a1f240d540a206c9) has addressed deleting `contrib.io` and some datasets from `io`. Thank you so much for submitting this request!

[2020-03-14 07:20] deepyaman opened #289 "[KED-1514] Add `--check-only` option to verify code is linted"
## Description / Context
The way it’s written, `kedro lint` does not "work" as part of a CI process. You run `kedro lint` as a build step, it will see incorrectly sorted imports or unblacked code and fix them then and there--on the build image--and pass the build step.

If `kedro lint` isn’t intended to be used in CI processes, the current implementation is sufficient. However, I would argue that

[2020-03-14 12:30] BartekSzpak commented on #143
Hi Guys,

This looks very exciting and main page already mentions "Coming soon". Any thoughts on when we can have a chance to give it a try?

[2020-03-15 09:42] kirkby-ac opened #290 "What is best practice for tests?"
Throughout the pipeline documentation, there are neat ways to access our conf setting i.e. referencing datasets via string names and parameters with the 'params:' prefix. This same logic doesn't seem to apply to the tests.

Currently, I am creating a pytest fixture in conftest.py to load the project context and then passing this context to each test:

[code]

Just wondering is this best practice o

[2020-03-15 10:00] #290 closed

[2020-03-15 10:01] kirkby-ac commented on #290
Saw the test run.py in examples does similar thing

[2020-03-16 02:51] deepyaman opened #291 "[KED-1473] `pandas.CSVDataSet` doesn't support `encoding` parameter"
## Description
I'm unable to load a non-`utf-8`-encoded file.

I know it doesn't work because of https://github.com/quantumblacklabs/kedro/blob/f03226e29b8a018a0f6edab6d3f1a0d37c1b1812/kedro/extras/datasets/pandas/csv_dataset.py#L154-L155. For it to work, `encoding` would have to be passed to `open`. However, some file systems don't support an `encoding` parameter... (e.g. `gcsfs`, I think).

## S

[2020-03-16 13:10] yetudada commented on #287
Thanks for reporting this error! @adengappa, I've put it on our backlog to look into.

[2020-03-16 13:40] uwaisiqbal commented on #288
Hey @lorenabalan, thanks for getting back to me.

Yup I have a custom dataset as a quick fix for this. Guess I'll just have to wait for the next release.

Thanks!

[2020-03-16 17:06] yetudada commented on #254
Hi @crdoconnor! We had a chat about this one and the resolution we're going to implement will be a way to tests without the use of Spark, and therefore the Java requirement falls away. Do let me know if this will resolve your error.

The other suggested plan of action was a suggestion to use our [`kedro-docker`](https://github.com/quantumblacklabs/kedro-docker) plugin to help you with this packagi

[2020-03-16 17:09] yetudada commented on #255
@crdoconnor Is this related to your Java version? If yes, then the update on this one is that we're going to implement will be a way to tests without the use of Spark, and therefore the Java requirement falls away. Do let me know if this will resolve your error.

[2020-03-16 17:10] felipepenha commented on #254
Hi @yetudada I am experiencing similar issues. The patch "tests without the use of Spark" will not work out for me, since I actually would like to use Spark in my code. I would like to use Spark in the Docker container, and not in my machine, does I keep getting errors on the test (that runs locally).

[2020-03-16 17:30] crdoconnor commented on #255
Yes, this was Java related.

On Mon, 16 Mar 2020, 17:10 Yetunde Dada, <notifications@github.com> wrote:

[2020-03-17 12:59] andrii-ivaniuk commented on #288
Hi @uwaisiqbal,
Thank you that you reported this issue.

Answering your question: we are using `fsspec` for filesystem related operation to have a general approach in all the supported datasets. The gzip compressed JSON file is actually a binary file but we open it as usual file `mode="r"` that causes the problem.

We are planning to fix this issue in the nearest future. Now we decide how to fix i

[2020-03-17 16:57] jorge-datanalyst opened #294 "<Question>"
Hello, I am trying to follow the example tutorial but I am having trouble in session https://kedro.readthedocs.io/en/latest/03_tutorial/04_create_pipelines.html#working-in-a-jupyter-notebook, I am trying to run the code shown here but throws an error and although I have tried several things I can not solve the error.

I opened a notebook to test the kedro notebooks session and when I run the follo

[2020-03-17 17:25] 921kiyo commented on #294
Hi @jorge-datanalyst thank you for using Kedro!

Did you start the notebook with `kedro jupyter notebook`, not `jupyter notebook`? `kedro jupyter notebook` will run the ipython config under `.ipython/profie_default/startup/00-kedro-init.py` in your project, where you can find `global catalog` variable which is available in your notebook.

If you did run `kedro jupyter notebook` and got this error,

[2020-03-17 17:56] lorenabalan commented on #124
Hey guys, latest commit on develop aims to enable 3.8 compatibility https://github.com/quantumblacklabs/kedro/commit/fe489536398408761274f6c1e3d820649b7c0b5e - feel free to have a play and let us know if you find any issues. Please note that `pyspark` is a known issue.

[2020-03-18 02:05] jorge-datanalyst commented on #294
It worked, thanks a lot for your help.

[2020-03-18 03:21] sanjaymeena opened #295 "Error: no such option: --params with Kedro run"
## Description
I am trying to specify parameters at runtime with `kedro run` as per https://kedro.readthedocs.io/en/latest/04_user_guide/03_configuration.html#additional-configuration-environments

I get following error :
[code]

## Steps to Reproduce
1. kedro run --params param_key1:value1,param_key2:2.0

## Your Environment
Include as many relevant details about the environment in which you expe

[2020-03-18 08:04] #294 closed

[2020-03-18 09:25] yetudada commented on #295
Hi @sanjaymeena! Thanks for flagging this bug and I'm so sorry you've run into this error. Would it be possible for you to type out the run command that you tried to run?

[2020-03-18 09:29] 921kiyo commented on #295
Hi @sanjaymeena Could you please check if you have `--params` click option in `kedro_cli.py` in your project. You should see the same lines as https://github.com/quantumblacklabs/private-kedro/blob/develop/kedro/template/%7B%7B%20cookiecutter.repo_name%20%7D%7D/kedro_cli.py#L232-L235 for `run()`

[2020-03-18 21:52] sanjaymeena commented on #295
Hello @yetudada , I tried to run following test command :

[code]

[2020-03-18 21:54] sanjaymeena commented on #295
Hello @921kiyo That repo is private, i cannot access it. I did try to add click option in kedro_cli.py. I am not sure if i missed something.

[2020-03-18 22:01] mzjp2 commented on #295
Stepping in here, can you try this link: https://github.com/quantumblacklabs/kedro/blob/da5259614c8268900df8080540926c1401b4cd47/kedro/template/%7B%7B%20cookiecutter.repo_name%20%7D%7D/kedro_cli.py#L232-L235

What version of `kedro` was your project generated with? If it was generated by an older version of `kedro` (0.15.4 or earlier), then the `kedro_cli.py` file won't have the necessary click op

[2020-03-19 01:03] sanjaymeena commented on #295
Hello @mzjp2 ,

thanks a bunch! Passing parameters works for me now :)

[2020-03-19 06:50] WaiMarn commented on #295
Hello, I have the same issue as but I've checked that I have --params click option in kedro_cli.py in my project. However I do not see --params option when I try kedro run -h. I am using kedro==0.15.8, python==3.7.5 and windows os.

[2020-03-19 11:40] mzjp2 commented on #295
Hi @WaiMarn,

That's very odd, could you write an exhaustive list of steps (create virtual env, new kedro project, etc...) to reproduce this issue?

The only thing I can think would be that you have an older version of `kedro` in your "base" environment (are you using `conda`?). What does `which kedro` show and does it correctly show that it lives inside your current virtualenv?

[2020-03-19 15:32] limdauto commented on #161
Hi @WaylonWalker @khdlim we have just landed [a commit](https://github.com/quantumblacklabs/kedro/commit/a55d4e1d7ca51d5a7b326025346dd54b5c9c2d86) on the develop branch to fix the issue of `load_context` changing user's working directory. The commit message has the details of the fix if you are interested. The `tl;dr` is `load_context` no longer changes the user's current working directory while s

[2020-03-19 15:32] #161 closed

[2020-03-19 16:35] WaylonWalker commented on #161
Great Work!!!!  Excited to see this in the next version.  We have a quick hack implemented on our pipelines that simply saves the current directory, loads context, then changes back to where the user was.

It might be good to update `run.py` from the template to not rely on the user's current working directory.

https://github.com/quantumblacklabs/kedro/blob/develop/kedro/template/%7B%7B%20cookiec

[2020-03-19 16:39] limdauto commented on #161
Hey, thanks for the quick shout. I think there is a bit of confusion here: We still rely on having a directory being passed to `load_context` as the project path. We just don't change the underlying `cwd` to be this path anymore. So you are now free to specify whatever path you want to use for your project context without worrying about side-effect on your filesystem.

[2020-03-19 16:41] limdauto commented on #161
Great shout. Will definite make that change.

[2020-03-20 01:28] WaiMarn commented on #295
Hi @mzjp2, thank you for replying!
I am using conda virtual env. My base env does not have kedro so I think it lives inside my current virtual env. I've tried creating a new environment and install kedro in it, but I still have this error.

[2020-03-20 12:50] Mar1cX commented on #282
@lorenabalan and @idanov  Thank you both for those suggestions. Both of them work in different case scenarios, but both of those solutions are worth to keep in mind and will be able to help further.

[2020-03-20 12:51] #282 closed

[2020-03-20 13:14] KostasKostalampros opened #297 "Add --run_id in kedro run command to reproduce a previous run"
## Description
At the moment, in order to reproduce a previous run someone needs to `git checkout` to the appropriate code branch and then select the appropriate dataset version to load using `--load-version`. This is the current official way as documented [here](https://kedro.readthedocs.io/en/stable/04_user_guide/13_journal.html#steps-to-manually-reproduce-your-code-and-run-the-previous-pipeline

[2020-03-20 15:12] 921kiyo commented on #297
@KostasKostalampros Thank you for the feature request! I totally agree with your feature request, and will make reproducibility much easier in Kedro project.

The initial version of Journal was manual process, and above functionality has been in our TODO.  At the moment, the team has been working on other functionalities (you can see some of them in https://github.com/quantumblacklabs/kedro/projec

[2020-03-20 15:37] KostasKostalampros commented on #297
@921kiyo I am glad this has already come up and you are looking to implement a solution in the future. Do you have a rough time estimate for this deliverable?

[2020-03-20 16:36] jfogelberg opened #298 "[KED-1513] PickleDataSet error in jupyter notebook"
## Description
Running a pipeline using
[code]
inside a notebook, launched using
[code]
raises exception when saving PickleDataSet.
Running the same pipeline in terminal works fine without any error:
[code]

Loading the pickle file from inside the notebook works fine:
[code]
The object is a custom class containing a pandas DataFrame and some metadata.

## Context
Currently I cannot run my pipeline

[2020-03-23 12:50] 921kiyo commented on #297
Unfortunately, we don't have time estimate for this feature at the moment. If there's many thumbs up on this issue, and then we will internally discuss it and will appear on https://github.com/quantumblacklabs/kedro/projects/1 :)

[2020-03-23 18:04] millengustavo commented on #291
I have the same error here while trying to read from S3 if my csv file is not encoded in utf-8! Any workarounds?

[2020-03-23 18:06] mzjp2 commented on #291
Hi @millengustavo and @deepyaman, thanks for raising this. We're aware of this (and the other related issues from not being able to pass args to the fsspec open call) and it's on our backlog to fix soon!

For now, the only workaround I can think of is creating a custom dataset from the dataset you want to use and overriding the load and save methods to pass the relevant stuff into the fsspec open

[2020-03-23 18:11] millengustavo commented on #291
Thanks for the quick reply @mzjp2

I modified `/kedro/extras/datasets/pandas/csv_dataset.py` _load function by passing encoding with my specific case to the open context.

[code]

Since most of my files have the same encoding it worked, despite not being ideal.

[2020-03-23 18:14] mzjp2 commented on #291
Alternatively, you can do something like

[code]

in a similar vein to the way we do `load_args` or `save_args` then pass the relevant parameters inside your `catalog.yml` entry. :)

Or, if you only care about encoding, then you can make `encoding` one of your `__init__` args and pass just `encoding=self._encoding` to the `self._fs.open` call. Hope that makes sense!

[2020-03-24 16:19] 921kiyo commented on #249
Fixed in https://github.com/quantumblacklabs/kedro-viz/pull/135

[2020-03-24 16:19] #249 closed

[2020-03-24 19:51] andrii-ivaniuk commented on #238
`extras` was deleted. Merge commit: ecd7277c28b7c962d9ab7f25a1f240d540a206c9

[2020-03-24 19:51] #238 closed

[2020-03-25 12:21] yetudada commented on #113
@Galileo-Galilei I should let you know that @limdauto is working on a way to extend Kedro using hooks as part of #219 and has indicated that it's extremely easy to create the MLflow plugin with this system. Are you still using your customisations?

[2020-03-26 15:18] WaylonWalker opened #302 "[KED-1512] Ability to add catalogs together"
## Description

I am would like to request the ability to add two `DataCatalog` objects together to get the addition of the two.   This will improve the ability to reuse pipelines and catalogs from existing projects.

### Example

Let's say I already have two `DataCatalogs` loaded in `c1` and `c2`.  I would like the ability to add them together.

[code]

## Context
I am trying to combine pipelines

[2020-03-26 17:59] mzjp2 commented on #295
Hey @WaiMarn, sorry for the late reply.

Could you attach the output of `kedro --version` and list the steps required to reproduce this?

[2020-03-26 18:25] lorenabalan commented on #291
Hi everyone, this should be fixed by this commit and made available in the next release: https://github.com/quantumblacklabs/kedro/commit/8329f452b96bda4ca3a3cd2b30f71f261e6a8af8
I'll go ahead and close this issue for now, feel free to come back if it's still causing you problems.

[2020-03-26 18:25] #291 closed

[2020-03-26 18:26] lorenabalan commented on #288
Hi everyone, this should be fixed by this commit and made available in the next release: https://github.com/quantumblacklabs/kedro/commit/8329f452b96bda4ca3a3cd2b30f71f261e6a8af8
I'll go ahead and close this issue for now, feel free to come back if it's still causing you problems.

[2020-03-26 18:26] #288 closed

[2020-03-27 00:35] cfranklin11 opened #303 "Was dropping support for joblib in PickleDataSet intentional?"
## What are you trying to do?
I updated Kedro from 0.15.5 to 0.15.8 and updated references to data set types in my `catalog.yml` files accordingly, but got an unknown argument error for trying to use the keyword argument `backend` for `PickleDataSet`. With the old `PickleLocalDataSet` I passed `backend='joblib'` to pickle/unpickle Scikit-learn model files.

Looking through the repo, I see that ref

[2020-03-27 03:02] WaiMarn commented on #295
Hi @mzjp2,

Output of kedro --version `kedro, version 0.15.6`

 List the steps required to reproduce this:
1. Initiate kedro project using kedro 0.15.4
2. Upgrade kedro to 0.15.6 in the env.

[2020-03-27 09:47] mzjp2 commented on #298
Thanks for flagging this @jfogelberg, I've added it to our issue tracker and we'll discuss this on Monday. If you have any more information/ideas on how to fix, please feel free to add. :)

[2020-03-27 09:48] mzjp2 commented on #302
Thanks for raising this @WaylonWalker, I've added it to our issue tracker to discuss. :)

[2020-03-27 09:51] mzjp2 commented on #295
Hi @WaiMarn, I believe that's the expected behaviour in that case. When you generate the kedro template with an old version of Kedro, the `kedro_cli.py` file doesn't have some of the newer features that come with newer versions of `kedro`. If you want to make use of the newer features (like passing in `--params`) then you should generate the template using `kedro>=0.15.5` (I believe) and use `kedr

[2020-03-27 12:29] 921kiyo commented on #242
Resolved in https://github.com/quantumblacklabs/kedro/commit/a6ed5e8612e2ca34b4975965b63c54acc5f06558

[2020-03-27 12:29] #242 closed

[2020-03-28 08:28] loleg opened #306 "Remove cookiecutter-template tag"
This project, even if originally based on a cookiecutter template, no longer supports deployment via cookiecutter. So please remove the tag in the GitHub repo to avoid confusion. Thanks!

[2020-03-30 01:09] WaylonWalker commented on #240
I would love to get rid of some of the verbosity from my repos, and not hand name each and every node, and only need to do so in the edge cases in which odd things occur.

[2020-03-30 03:43] deepyaman commented on #302
@WaylonWalker Sorry, why is this necessary? You can already combine multiple (sets of) catalog files by naming them starting with `catalog` at the root level, or placing them anywhere under a directory at the root level whose name starts with `catalog`. See https://github.com/quantumblacklabs/kedro/blob/0.15.8/kedro/context/context.py#L242.

[2020-03-30 04:12] WaylonWalker commented on #302
This is for combining two entirely separate projects without copy/paste

[2020-03-30 04:50] WaiMarn commented on #295
Hi @mzjp2,

Thank you for clarifying, it makes sense now. However, I am unable to use the quick workaround.
When I type `kedro -h', this is the output:
`Usage: kedro [OPTIONS] COMMAND [ARGS]...

  Kedro is a CLI for creating and using Kedro projects For more information,
  type ``kedro info``.

  When inside a Kedro project (created with `kedro new`) commands from the
  project's `kedro_cli.py` fi

[2020-03-30 10:16] mzjp2 commented on #295
Closing this now, since it seems to have been resolved. Thanks all!

[2020-03-30 10:16] #295 closed

[2020-03-30 15:14] deepyaman commented on #302
Without copy-pasting what? Sorry if I'm being dense.

In your combined architecture, you can add the pipelines together. You still need your `KedroContext`, where you can customize the `_get_catalog` function, if you need to read from multiple hierarchies.

Could you provide a minimal example if I'm wrong?

[2020-03-31 10:46] yetudada commented on #306
Hi @loleg. Our template is actually based on the Cookiecutter Data Science template. We'll remedy this. Thanks for reporting this!

[2020-03-31 10:46] #306 closed

[2020-03-31 13:54] limdauto commented on #303
Hi @cfranklin11 thank you for raising the issue. We are re-adding the parameter and will fix it in the next release.

[2020-03-31 17:20] andrii-ivaniuk commented on #275
Fixed in 6bf1066463fb4c9d6f1f572996f59fd86e345730 commit

[2020-03-31 17:21] #275 closed

[2020-03-31 21:27] WaylonWalker commented on #302
In order to utilize catalogs from completely separate projects started with different `kedro run` commands, stored in completely separate git repos, I would currently need to copy the YAML files from one project to the other.  Am I correct in thinking that?  Or is there another way to share catalogs from completely separate projects

[2020-03-31 22:59] cfranklin11 commented on #303
Thanks for responding. I'll close the issue, then. Looking forward to the next release :)

[2020-04-01 04:02] tjcuddihy opened #308 "Sagemaker notebooks raise error for `pandas.CSVDataSet`"
## Description
The conda environment for python3.6 in notebooks cannot find `pandas.CSVDataSet`

## Context
I'm wanting to use sagemaker as my development environment. However, I cannot get kedro to run as expected in both the notebooks (for exploration and node development) and the terminal (for running pipelines).

## Steps to Reproduce

0. Startup a Sagemaker instance with defaults

Terminal su

[2020-04-01 10:42] Galileo-Galilei commented on #113
Hello @yetudada, sorry for not coming back here for a while, I was quite busy at work.

Some news and feedback :

1. The ```Journal``` is quite an interesting feature (it makes runs more reproductible than before with detailed information), but I find it (this is a personal feeling, no offense intended) almost useless without **a user interface to browse the different runs** and find which one I w

[2020-04-01 12:48] WaylonWalker commented on #308
Kedro aside there are a couple of things that you can do to ensure that your environments match from the terminal vs notebook.  I am not familiar with the new `pandas.CSVDataSet` as I am just now starting with my first `0.15.8` myself.  We have struggled to get package installs correct through our notebooks, I make sure my team is all using their own environment, created from the terminal.

## act

[2020-04-01 15:14] deepyaman commented on #302
You can override `_get_catalog`, changing:

[code]

to:

[code]

or something, I believe (not tested). You could also create a second config loader.

It's not super clean since you're constructing based on paths outside the project, but neither is constructing a data catalog elsewhere IMO.

Also, sorry if I'm opining too much here... (I'm not part of the team or anything, just opinionated :P)

[2020-04-01 18:10] michaelchia opened #309 "`credentials` param in `kedrio.io.csv_s3.CSVS3DataSet` breaks since s3fs 0.4.1."
## Description
Using dict keys 'aws_access_key_id' and 'aws_secret_access_key' in the credentials param in `kedrio.io.csv_s3.CSVS3DataSet` causes errors since s3fs 0.4.1.
I have made a pull request to s3fs to fix it on their side. But this report is just to let you know in case my PR is rejected or ignored. And even if the PR is accepted, since s3fs 0.4.1 & 0.4.2 are already out perhaps you'll nee

[2020-04-01 19:19] michaelchia commented on #309
They accepted my PR. Bug should be fixed in next version. You may close this issue.
https://github.com/dask/s3fs/pull/308

[2020-04-02 01:35] tjcuddihy commented on #308
Your second idea worked @WaylonWalker. I slightly adapted it as it didn't work straight up:
[code]
With a reasonable solution, I'll call this issue closed. Massive thank you @WaylonWalker for pointing me in the right direction.

Cheers,
Tom

[2020-04-02 01:35] #308 closed

[2020-04-02 11:06] ashutosh1919 commented on #235
@yetudada , isn't `kedro.contrib` already removed? because I am not able to see it in the repository.

[2020-04-02 11:12] yetudada commented on #235
Hi @ashutosh1919! Thanks for flagging this! You're correct. We handled this change with this [commit](https://github.com/quantumblacklabs/kedro/commit/ecd7277c28b7c962d9ab7f25a1f240d540a206c9). I'll close this issue.

[2020-04-02 11:12] #235 closed

[2020-04-02 11:16] yetudada commented on #245
Completed by @921kiyo

[2020-04-02 11:16] #245 closed

[2020-04-02 11:17] yetudada commented on #251
Completed by @921kiyo

[2020-04-02 11:17] #251 closed

[2020-04-02 11:17] yetudada commented on #252
Completed by @921kiyo

[2020-04-02 11:17] #252 closed

[2020-04-02 11:18] yetudada commented on #241
Handled this change with this [commit](https://github.com/quantumblacklabs/kedro/commit/ecd7277c28b7c962d9ab7f25a1f240d540a206c9). I'll close this issue.

[2020-04-02 11:18] #241 closed

[2020-04-02 11:36] yetudada commented on #278
Thanks for this feedback @mrg143504! How would something like a `SparkSQLDataSet` sound instead? We struggled with `SparkTableDataSet` because it's a bit too close to `SparkDataSet`.

[2020-04-02 12:52] mrg143504 commented on #278
Hi @yetudada , sounds good!
Also, now that I think about it let me make it harder and bring into the table another candidate: how about `SparkSQLTableDataSet`? Sounds more consistent with the already existing `SQLTableDataSet` (even though the API for both is different) and would leave it open if someone wanted to develop a `SparkSQLQueryDataSet`.
I leave the choice up to you! I'll edit the title

[2020-04-02 13:36] WaylonWalker commented on #302
I had not thought about this as a solution before, I will need to think through how I can integrate that.  I have a group of folks that are doing hypothesis testing and general analysis much less than pipeline building.  I am trying to give them a way to utilize multiple catalogs together easily.  I think being able to utilize the `+` operator would be the easiest and most natural for them.  I wil

[2020-04-02 15:22] deepyaman commented on #278
@yetudada On the topic of renaming, can we remove the `Spark` prefix from all of these dataset names? :) They're already in the `spark` package, and you don't name everything else with a `Pandas` prefix.

[2020-04-02 15:58] mrg143504 commented on #278
@deepyaman @yetudada I think this is an interesting topic and we should open a new issue to discuss it in detail. I'm not so sure if we should leave or remove the prefix but I think the point here is how to manage different python libraries to manipulate data. Today kedro assumes pandas as default since is the most used library to manipulate in memory dataframes, but probably more tools will becom

[2020-04-02 18:56] mzjp2 commented on #278
I think we're on the same page with you there @mrg143504. This is what we're moving towards!

We recently shifted to the `kedro.extras` model and you opt-in to the dependencies you need based on what data you work with.

At the moment, we have `pandas` as a "default" (bundled with our `kedro` package) to preserve backwards compatibility, but we're looking to decouple the I/O completely for precise

[2020-04-03 07:51] marcusinthesky opened #310 "[KED-1547] HoloviewsWriter Plotting Dataset"
## Description
A MatplotlibWriter-type Abstract Versioned Dataset for the Holoviews Plotting Library.

## Context
Holoviews is a high-level plotting API which supports a number of plotting backends, including plotly, matplotlib and bokeh. Holoviews forms part of the [HoloViz](https://holoviz.org/) ecosystem of plotting and interactive dashboarding tools which can scale, using dask, to large distri

[2020-04-03 09:05] TomaszKaczmarczyk opened #311 "[KED-1545] Create a Matplotlib Writer that supports versioning"
## Description
Current version of MatplotlibWriter dataset does not support versioning of datasets.

## Context
It's very useful to have versioned charts when running multiple iterations of data science models.

## Possible Implementation
Add support for versioning to the current MatplotlibWriter class.

[2020-04-03 16:28] marcusinthesky opened #313 "[KED-1358] conda install kedro"
## Description
Anaconda is a popular package manager for many data scientists cause of its ability to resolve non-python dependencies, like Cuda.  Many tools like MLFLOW rely heavily on anaconda in order to ensure compatibility when serving model on Databricks or Azure.

## Context
Many pypi packages can be automatically compiled to be install as conda packages using `conda skeleton python kedro`,

[2020-04-05 21:09] seeM opened #314 "[KED-987] Current kedro_cli behaviour should be in main kedro package"
## Description
The current auto-generated `kedro_cli.py` should be mostly internal to the `kedro` package, and thinly wrapped in the project's `kedro_cli.py`, for example, an import and a function call.

## Context
One of the main purposes of a framework is to reduce duplication and boilerplate. The `kedro_cli.py` files are ~600 lines of code that don't really have anything to do with project-spec

[2020-04-06 11:45] andrii-ivaniuk commented on #277
It was resolved and will be available in the future release. Merge commit: e996b0767c1e1ef79b8f406e5ecd62cade6c4632

[2020-04-06 11:45] #277 closed

[2020-04-06 13:46] 921kiyo commented on #314
@seeM Thank you for raising this! We have a ticket to do this actually, but haven't had a chance to implement it yet. We will let you know once the clean-up in kedro-cli.py is done.

[2020-04-06 13:51] 921kiyo commented on #313
@marcusinthesky Thank you for the feature request! We have a ticket in our backlog and will let you know once it is done :)

[2020-04-06 14:02] 921kiyo commented on #311
@TomaszKaczmarczyk

Thank you for the feature request! I've created a ticket and it is in the backlog. Meanwhile, we are more than welcome for anyone's contributing to this extension task :)

[2020-04-06 14:16] TomaszKaczmarczyk commented on #311
@921kiyo

I've created a PR that resolves it - please take a look at https://github.com/quantumblacklabs/kedro/pull/312 :)

[2020-04-06 14:31] 921kiyo commented on #271
Closing this, but if you still need any help with this, feel free to reopen it.

[2020-04-06 14:31] #271 closed

[2020-04-06 15:19] 921kiyo commented on #310
@marcusinthesky thank you the idea and example code. It's a great idea! Please open a PR with necessary unit tests, so that we can review your PR :)

[2020-04-06 15:22] #309 closed

[2020-04-06 16:44] seeM commented on #314
Amazing, thank you! 😄

[2020-04-07 13:33] #234 closed

[2020-04-07 15:20] #283 closed

[2020-04-07 16:53] lorenabalan commented on #289
Closing as addressed in https://github.com/quantumblacklabs/kedro/commit/8bfa0a8ce0e3bef194ba8d4ca682becf8accdc24

[2020-04-07 16:53] #289 closed

[2020-04-07 21:10] WaylonWalker commented on #314
@seeM I completely agree.  I have gone as far as removing the cli completely from our project template to make it easier to keep them up to date.  If I remember right it was pretty much copying the existing cli into a library, then importing cli inside each project.  This reduced it from ~600 lines to about 3, and if a project still wants to add a special cli command they are welcome to as the cli

[2020-04-08 17:05] jfogelberg commented on #195
Is it possible to access the journal while running the pipeline?
I would like to grab the journal, either inside a node or feed it as an input, so that I can log it to MLflow/SQL database/etc.

[2020-04-12 00:43] d-chambers commented on #313
This is currently what is keeping me from using kedro seriously, I don't want the mix of conda and pip installs to result in a broken/unstable environment. Otherwise looks like an amazing project, thanks for open-sourcing your hard work!

[2020-04-13 01:59] tdrobbin opened #324 "Optional tags for DataSets and accessing through the catalog"
## Description
It would be nice to be able to add optional tags to datasets in the catalog, and list/access them via tags, similar to what is currently implemented in `node`

## Context
The DataSet/Catalog system and the python interface are awesome. As the number of datasets defined in the catalog grows it would be helpful to be able to list/access specific subsets based on common tags.

## Possi

[2020-04-14 07:59] marcusinthesky commented on #310
@921kiyo So happy to hear this. I should have responded earlier but had a busy week last week with the Easter Weekend. Will get right on it. Will I have to update the documentation as well?

[2020-04-14 08:05] 921kiyo commented on #310
Yeah, that would be great, especially `02_install.md`, `08_advanced_io.md` and `kedro.extras.dataset.rst`.

[2020-04-14 09:07] 921kiyo commented on #195
Hi @jfogelberg the integration with MLflow is quite easy now with our latest feature called hooks (currently in dev branch, and you can find more information in  https://github.com/quantumblacklabs/kedro/blob/develop/docs/source/04_user_guide/15_hooks.md)
You can also find the example code in https://github.com/quantumblacklabs/kedro-examples/blob/master/kedro-hooks-tutorial/src/kedro_hooks_tutori

[2020-04-14 21:07] d-chambers opened #325 "[KED-1455] kedro run pdb flag"
## Description
When prototyping a pipeline not everything goes right the first time. I often find myself digging through tracebacks so I can determine where to drop a `breakpoint` the I run the node/pipeline again. It would be great if `kedro run` supported a pdb flag to drop the user into an interactive debugging session when an un-handled exception surfaces.

pytest implements [this exact featur

[2020-04-14 23:43] d-chambers commented on #325
I just discovered a usable workaround. kedro can be run like this to achieve the desired effect:

[code]

[2020-04-15 11:42] yetudada commented on #278
@deepyaman Thanks for throwing a spanner in our renaming 😆

Can you help us with verifying if the following naming scheme would work?
`SparkDataSet` -> `DataFrame` so that you can write `spark.DataFrame`
`SparkHiveDataSet` -> `SQLTableDataSet` so that you can write `spark.SQLTableDataSet`
`SparkJDBCDataSet` - `JDBCDataSet` so that you can write `spark.JDBCDataSet`

[2020-04-15 11:45] yetudada commented on #213
Hey @parulML, were you able to get some help with this? 😄  Do let us know, otherwise we'll be closing this ticket.

[2020-04-15 11:46] yetudada commented on #210
Here's a super brief update on this:
- We got the green light!
- However, the approved platform is Slack
- We're currently setting up the Code of Conduct and working out how we'll be able to maintain this channel

[2020-04-15 11:48] yetudada commented on #207
@EigenJT @JasonLeungQB @deepyaman You'll be excited to note that we have built a `kedro-ge` plugin internally, that we will be open-sourcing. We're actually talking to the Great Expectations team on this work, and it will be a collaborative effort when we release the plugin.

@ZainPatelQB @tsanikgr are behind this amazing work.

[2020-04-15 14:09] deepyaman commented on #278
@yetudada Two clarifications:

* Would `DataFrame` not still need "DataSet" in the name? Would `spark.DataSet` be sufficient? `DataFrame` is just what it's backed by once loaded into memory, not on disk (by that logic, almost all of them would be `DataFrame`).
* `spark.SQLTableDataSet` seems OK, but one thing that came to mind a couple days back was if this would get confused with a database table

[2020-04-15 15:43] EigenJT commented on #207
@yetudada That's great to hear, I can't wait to see it!

[2020-04-15 15:43] yetudada commented on #113
Hey @Galileo-Galilei! I have so many cool things to tell you!

1. We're going to be looking at the `Journal` after we complete these roadmap items. Discoverability of runs is definitely one of its challenges. We've also seen instances of users trying to log the Journal itself to MLflow, which is interesting because we need to evaluate its role in run reproducibility.

2. & 4. **Here's the cool new

[2020-04-15 15:54] EigenJT commented on #220
@yetudada Not sure if this is where you'd like the feedback, but this is essentially how we've been building all our pipelines. One of the sticking points I've found is how to write tests that ensure the pipelines work within a kedro context. What I've resorted to doing is writing test that create temporary kedro projects, then test the pipelines within them.

[2020-04-15 16:08] lorenabalan commented on #220
Hi @EigenJT , thank you so much for sharing your feedback!! Could you maybe elaborate a bit on what you mean by `ensure the pipelines work within a kedro context`?

Is that end-to-end, from loading fake data to context identifying the right pipeline, and running the nodes with the right inputs/outputs? Your tests sound like integration tests rather than unit tests to me, correct me if I'm wrong? A

[2020-04-15 16:19] yetudada commented on #113
And one more thing @Galileo-Galilei, for 4b. Could you provide an example of what you're trying to do? We're working on the modification part of Framework Redesign indicated in #219 and it would be great to understand if this problem fits there.

[2020-04-15 16:54] lorenabalan commented on #143
Hi @BartekSzpak , apologies for the delayed response!! We're in the process of exposing this to our internal users to get targeted feedback to iterate on, so you could say we're in "beta" phase. Timelines are hard to judge at this point, but my guess is it'll be another couple of months at least? @yetudada can keep me honest here.

[2020-04-15 17:03] EigenJT commented on #220
Hi @lorenabalan, yup integration tests is the best description. We write unit tests for the nodes, but to ensure the pipeline actually works as intended, we create fake data, fake parameters and a fake catalog, try the pipeline, evaluate the results, then tear the whole thing down. Essentially testing the results of a `kedro run` command. We haven't tried `pipeline.transform()`, didn't know it exi

[2020-04-15 18:49] neomatrix369 commented on #265
I did read that there is some work going on wrt Kedro docker, happy to align with that work if its available in the open. I have some experience in this area and happy to share it with this project.

[2020-04-15 18:52] neomatrix369 commented on #207
This is super cool, would love to see this feature integrated.

[2020-04-15 18:54] neomatrix369 commented on #195
With reference to this issue, I'm also happy to introduce experiment/parameter tracking to Kedro, via the `kedro-plugin` route, if there is interest in having such functionality in `kedro`?

Please do let me know so I can start looking into it. I already have it working in another separate project and don't think should be hard to get it into kedro.

[2020-04-15 18:59] neomatrix369 commented on #210
Did DiscordApp come up in any of your discussions, its really a cool community-based interface?

[2020-04-15 19:02] yetudada commented on #210
It did, I actually prefer Discord the most for administrative control. It has the best admin experience out of all of these platforms. For instance, it's easy to see who's on a team, either as a maintainer or super active contributor. However, our InfoSec team found their security settings lacking when compared to Slack so... Slack it is.

[2020-04-15 19:23] neomatrix369 commented on #210
Good to know. Maybe the DiscordApp chaps might be better off knowing about them. In time if they fix the security gap, it could be a platform to switch to.

[2020-04-16 12:26] neomatrix369 commented on #255
Could you please point me to docs that explain what Java dependencies are required apart from the JDK installed (I have Java 8 build 172 on my path), I'm looking at #267 and currently 72 tests are failing due to this. I'll also try to dig into the issue in the meanwhile. Thanks

[2020-04-16 13:15] lorenabalan commented on #220
My bad, when you said "this is essentially how we've been building all our pipelines" I thought you meant with `pipeline.transform()` mentioned in the issue.
The problem of end-to-end testing has come up before in discussions, but would be great to probe you a bit deeper as well: does this end-to-end testing extend beyond what would be covered by schema validation and lots of granular unit tests o

[2020-04-16 17:15] EigenJT commented on #220
@lorenabalan Ah yeah that would make things much easier.

Regarding the additional end-to-end testing: ensuring that the pipeline actually performs what it was supposed to do. So given fake inputs, validate that the resulting outputs are exactly what they're supposed to be. So a data test, in short. As an example, a pipeline that's dedicated to reformatting a certain filetype would be have its fin

[2020-04-17 10:22] limdauto commented on #208
I completely agree with @WaylonWalker here regarding starters. To make the separation of Kedro's library and framework more explicit, I think we should remove `template` altogether from kedro codebase. Instead, having dedicated git repo for templates (all officially supported templates could be in one repo) and pull them according to CLI arguments supplied to `kedro new`.

[2020-04-17 11:28] andrii-ivaniuk commented on #311
Versioning support was added. It will be available in a future release.

[2020-04-17 11:28] #311 closed

[2020-04-17 16:01] ColinLeongUDRI commented on #313
I feel similarly to d-chambers, regarding mixing of pip and conda. Thank you to the people working on the pull request on conda-forge!

[2020-04-18 13:28] JonathanLofgrenQB opened #328 "[KED-1582] Support parameter objects with typed attributes to simplify configuration management"
## Description
In big Kedro projects with hundreds of nodes the number of parameters can also grow quite large. We tend to group the parameters under top level keys in the conf yaml's to avoid having to supply too many inputs to the nodes in form of separate `"params:.."` and to get some form of logical grouping. So we might do something like:
[code]
and then add `"params:training"` as an input to

[2020-04-18 14:04] Galileo-Galilei commented on #113
Hello @yetudada,

First, I have some very good news : [I released a first version of kedro-mlflow](https://github.com/Galileo-Galilei/kedro-mlflow). It will make our discussions more efficient as I can show you the code. By now, the package is poorly documented / tested and lacks some functionalities, but I will update it in the following months. Note that is **based on kedro's develop branch** an

[2020-04-18 14:08] Galileo-Galilei commented on #195
Hello,
a bit of self advertisment here : [I released a first version of kedro-mlflow](https://github.com/Galileo-Galilei/kedro-mlflow) which enables parameters versioning (and much more!). Feel free to try it out and give your feedbacks.

[2020-04-18 14:28] Galileo-Galilei opened #329 "[KED-1581] Add on_pipeline_error and on_node_error methods to hooks"
## Description
I have tried the hooks implementation described which is part of #219. It works very smoothly, but I feel that it would be nice to have a method to deal with errors which may occurs during the execution between two hooks call.

## Context
By now, hooks work by calling two methods (```before_WHATEVER`` and ``after_WHATEVER``) which frame the code line they should wrap. In case this c

[2020-04-20 11:43] MarcoGC commented on #54
I have the same error.

[2020-04-20 12:19] limdauto commented on #328
Thank you so much for raising this. Would love to hear more opinions here but I absolutely LOVE this idea. Explicit schema, more types, less string -- what's not to like?

[2020-04-20 12:38] limdauto commented on #329
Hi @Galileo-Galilei, thank you for raising this and thank you for the initial work on the plugin. It looks very promising. So happy to see traction on this.

Regarding your feature request, I agree that all the existing hooks only take into account the happy paths. I'm inclined to agree that a hook for `on_pipeline_error` would be nice for your use case. Could you give me your use cases for `on_no

[2020-04-20 17:43] deepyaman commented on #278
@mrg143504 I finally actually got a chance to look into this, and I'm not sure dropping `Hive` from the name would be entirely accurate. While [`_load`](https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/spark/spark_hive_dataset.py#L221-L232) is independent of whether or not the table is actually backed in Hive, [`_save`](https://github.com/quantumblacklabs/kedro/blob/0.1

[2020-04-20 17:45] deepyaman commented on #278
As yet another side-note, I'm a bit concerned over the fact that the dataset creates a view always named `tmp` all over the place. How does this play with existing views named `tmp` (less of a concern, mitigable by using something more reserved like `__tmp__`) and parallel execution (I feel like this will cause race conditions).

[2020-04-21 09:49] lorenabalan commented on #220
You're right in that order is not necessarily guaranteed, though that should only be at tie-level (nodes with the same number of dependencies), as we leave it to `toposort` to figure out the order of execution of the DAG. If there's significant impact if 2 "parallel" nodes run in different order, maybe there's a missing link there?
Provided you have give the right dependencies (node inputs and out

[2020-04-21 09:55] lorenabalan commented on #220
Also as an update (for whoever is interested), we're looking to include this feature in the next breaking release (0.16.0). We've merged `pipeline()` helper, a slightly cleaner alternative to `Pipeline.transform()`, which we're dropping, to map inputs/outputs/parameters names, or namespace (prefix) datasets and node names.
There's work being done on the CLI side to help with the workflow of creati

[2020-04-21 12:24] limdauto commented on #146
Hi everyone, to follow up on the questions in this issue:

### What does a best-practice Spark configuration for Kedro look like?

We have updated [our documentation](https://kedro.readthedocs.io/en/latest/04_user_guide/09_pyspark.html#initialising-a-sparksession) to recommend initialising `SparkSession` in your `ProjectContext` but _not storing it on the context instance_. Instead, use the global

[2020-04-21 12:39] JonathanLofgrenQB commented on #328
Thanks for the reply @limdauto! I thought about having a `type` attribute inside the set of parameters, but I was thinking it would be nice to be able to override the parameters in `conf/local/` without having to specify the `type` again there. But perhaps there is some better solution to this I am not aware of?

I also realised that for the parameter object, there is no need for kedro to depend o

[2020-04-21 13:40] 921kiyo commented on #149
We have made the source directory configurable with `source_dir` key in `.kedor.yml` in https://github.com/quantumblacklabs/kedro/commit/8de924819ae7e622a5a73b00f742e77efb936438 so you can customise it like

[code]
Or
[code]
if `src` doesn't suit your use case.

It will be released in the next release, so I'm closing this issue, but do let us know if you have any questions/comments.

[2020-04-21 13:40] #149 closed

[2020-04-21 13:42] philippegr commented on #149
Thank you very much. Looking forward to this next release!

[2020-04-21 14:19] andrii-ivaniuk commented on #287
ThreadRunner was added to run Spark dataset concurrently.

[2020-04-21 14:19] #287 closed

[2020-04-21 15:07] 921kiyo commented on #287
Implemented in https://github.com/quantumblacklabs/kedro/commit/c79c21a50924b2f79f1207de167b27d7c7e8bef0

[2020-04-21 16:47] EigenJT commented on #220
All makes sense, and we've been making those explicit links between pipelines on our end to ensure that things run as expected. The `modular_pipeline` looks pretty cool!

[2020-04-22 03:51] Chtchou opened #334 "Path of an input instead of an input dataset"
For a given node, is it possible to obtain a dataset file path from the catalog? By default, if we add the name of the dataset as input it will load the dataset from the path defined in the catalog.

Thanks!

[2020-04-22 12:30] lorenabalan commented on #325
Hi @d-chambers apologies, this somehow got lost in the inbox. We have an item in our backlog to have a look at our interactive/debug workflow with Kedro, we'll make sure to keep your observation in mind as well. It might end up just being a documentation exercise, or some changes to our framework might be done to better facilitate that effort. We ask that you're a little patient with us, we're wor

[2020-04-22 12:39] lorenabalan commented on #313
Hey guys, good news: we're on conda! 😃 (thanks @marcelotrevisani for the help in getting this pushed on conda-forge)

`conda install kedro` will install the latest Kedro version, 0.15.9, and we'll be ensuring that future releases will also be added as they come out.

Please be mindful that we haven't gone and retroactively added older versions, we recommend you use the new release, particularly as

[2020-04-22 12:39] #313 closed

[2020-04-22 12:43] marcelotrevisani commented on #313
Just to let you all know that it is not necessary to manually create PR to update the recipe on ``conda-forge`` because we have some bots which check from time to time for new releases. The bot will automatically create a PR with the new version. :)

[2020-04-22 12:55] marcelotrevisani commented on #313
It is nice to have everything packaged with conda indeed. However, if you really need a package which is not (yet) on ``conda-forge`` you have some options:

- You can open a PR on ``conda-forge`` and package the missing project, or just open an issue there requesting to package that project.

- Or you can install the pacakge with ``pip`` but asking ``pip`` to no install the dependencies, in that

[2020-04-22 13:42] WaylonWalker commented on #334
Given a node named `"A"` we can find the path to its input by first asking for its input to get the catalog entry name, then we can get the path from the catalog by using the `datasets` attached to the catalog.

## If you have only one input
_simple_

[code]

## If you have only multiple inputs
_more robust_

[code]

[2020-04-22 14:14] d-chambers commented on #313
Thanks, I didn't know about the no-deps flag.

[2020-04-22 14:47] Sadatay7 commented on #24
Hi,
Not sure this issue has been resolved. I have seen the change that has been made. But I still get the following error when I run `kedro install` with an environment.yml file:

<img width="556" alt="Screenshot 2020-04-22 at 16 40 54" src="https://user-images.githubusercontent.com/20279001/79996195-703b3a00-84b8-11ea-8a7a-a9ca2e2756e7.png">

And this is in alignment with https://github.com/conda

[2020-04-22 16:32] WaylonWalker opened #336 "[KED-1635] Improve DataSetNotFoundError: messages for MemoryDataSets"
## Description
I'm always frustrated when I get a `DataSetNotFoundError:` for MemoryDataSets.  Would it be possible to look at pipeline.all_inputs to see if the dataset is part of the pipeline, but not in the catalog, then provide instructions to get the data loaded?

## Context
I like chaining many small functions together and Its not always necessary to save every step along the way, but I find

[2020-04-22 16:38] WaylonWalker opened #337 "[KED-1634] Improve DataSetNotFoundError: messages for typos (did you mean)"
## Description

I'm always frustrated when I get a DataSetNotFoundError: for typos. Would it be possible to look at the catalog for similarly named entries and suggest them similar to [click-didyoumean](https://github.com/click-contrib/click-didyoumean)

## Context
Mostly when ad-hoc loading dataset its sometimes hard to remember long dataset names.  It would be helpful if kedro could suggest the

[2020-04-22 16:55] d-chambers commented on #325
Hi @lorenabalan, thanks for the update. I am certainly in no rush, especially since there is a workaround. A big thanks to you and your team making a great open-source tool!

[2020-04-22 20:39] jahas opened #338 "[KED-1569] Documentation as PDF or ePub"
Hi guys,

I really appreciate your work. I will take a deep look at your work later, but now I'd like to read documentation :)

Could you please activate building documentation to PDF or ePub at readthedocs ?
It would be nice, I could read it at Kindle device then.

Thank you in advance!
Adam

[2020-04-23 09:21] 921kiyo commented on #338
@jahas Thank you for the suggestion! This is a great idea! I've put this request in the backlog and will investigate it :)

[2020-04-24 15:06] f-istvan opened #340 "kedro install fails"
## Description
Running `$ kedro install` fails with:

[code]

## Environment
$ python --version
`Python 3.6.6`

$ kedro info
[code]

Thank you for the answers!

[2020-04-24 15:08] mzjp2 commented on #340
Are you inside a Kedro project? `kedro install` is a project-specific from your `kedro-cli.py` and you need to be in the root directory of your Kedro project to be able to use it.

It's there to install your project dependencies and so is necessarily a project-specific command.

[2020-04-24 15:20] f-istvan commented on #340
Hi,

That's exactly what I missed. I have:
`kedro-exercises  kedro-hooks-tutorial  kedro-training  kedro-tutorial  LICENSE.md  README.md
`
and had to go into `cd kedro-tutorial`.

The error message is very misleading though.

Thank you!

[2020-04-24 15:23] mzjp2 commented on #340
Glad to hear its sorted now and thank you for the feedback on the error being misleading (I tend to agree). I'll file a ticket about making the error more specific and will close this for now as it's fixed. Feel free to open another issue if you come across anything else. :)

[2020-04-24 15:23] #340 closed

[2020-04-25 09:03] Galileo-Galilei commented on #329
Hello @limdauto,

I actually do not have real use cases for ``_on_node_error``, but here are some uses cases that we could imagine :
- implement a custom "retry" strategy when the node fails (for instance, if mflow fails logging the dataset but the node was correctly executed, I may want skip mlflow logging and continue the pipeline with a warning)
- force saving the inputs of the nodes which are

[2020-04-25 14:41] tamsanh opened #341 "[KED-1667] Chronocoding: Solving the Problem of State Tracking with Temporally Sensitive DAGs"
## Introduction

In an ideal world, where limits in compute and I/O don't exist, I think kedro is the perfect framework for writing data pipeline systems. However, as a Data Engineer, I must face these problems constantly. In order to optimize this work, I require highly contextual related to a node's operation. However, I feel that kedro does not offer sufficient built-in utility to address this,

[2020-04-26 22:29] markf94 commented on #163
For all future readers, here's the updated link to the [TemplatedConfigLoader](https://kedro.readthedocs.io/en/stable/kedro.contrib.config.templated_config.TemplatedConfigLoader.html)

[2020-04-27 11:00] nishnash54 commented on #337
This seems like a good idea.
Can be implemented with simple Jaccard similarity between the `name` and `self._data_sets.keys()`. To prevent irrelevant recommendations, have a threshold on the similarity metric.

[2020-05-01 13:17] Minyus opened #342 "pandas.CSVDataset imports unnecessary packages such as google-cloud-bigquery"
## Description

Importing `pandas.CSVDataset` runs unnecessary modules such as [`kedro.extras.datasets.pandas.gbq_dataset.py`](https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/pandas/gbq_dataset.py) in addition to [`kedro.extras.datasets.pandas.csv_dataset.py`](https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/pandas/csv_dataset.py) due to
[`k

[2020-05-01 17:34] Minyus opened #343 "Keep local-only DataSets such as CSVLocalDataSet"
## Description
In the latest `develop` branch, local-only DataSets such as `CSVLocalDataSet` were removed.
Although the generalized DataSets in `kedro.extras.datasets` such as `CSVDataSet` support local use, I'd like to request to keep the local-only DataSets to allow avoiding to use `fsspec` package.

## Context
Some users do not want to or cannot use `fsspec` package due to potential bugs, perfo

[2020-05-01 17:39] 921kiyo commented on #343
@Minyus Thank you for the request! Are you currently facing any issues with fsspec? If so, we would like to know the details so we might be able to help you with it.

[2020-05-01 19:02] mzjp2 commented on #342
Hi @Minyus 👋!

Thanks for raising this and I'm totally on board with your concerns. The reason we moved to the `kedro.extras.datasets` model in the first place was to cut down on dependencies and give users more granular control over what they need. I think we haven't got this quite right and we have an internal ticket open on our backlog pending a technical design session to discuss this and sett

[2020-05-01 19:11] mzjp2 commented on #343
I'm echoing @921kiyo in that I'd also be interested in knowing what deficiencies `fsspec` has for you. I'm also tagging in @martindurant who's the main maintainer over at [fsspec](https://github.com/intake/filesystem_spec) who may also be interested. If there are any issues, a potential avenue is to report them on the `fsspec` repo and get them resolved there, and we'd benefit downstream.

One of

[2020-05-01 19:16] martindurant commented on #343
I can understand any project now wanting to take on extra dependencies. However, fsspec is lighter than most, since it has no (required) dependencies of its own. For *local* files, most methods simply pipe through to `os`-module methods, so really what you get is the convenience of having the same API as the other storage backends.

(by the way, dask depends on fsspec, and pandas is [considering i

[2020-05-02 00:56] Minyus commented on #342
Hi @mzjp2

Thank you for explanation.

I understood that the current design came from the installation commands.
Then the following ways seem to be modular and make more sense (at least to me).

- `pip install kedro[bigquery]` to use `GBQTableDataSet` in  [gbq_dataset.py](https://github.com/quantumblacklabs/kedro/blob/develop/kedro/extras/datasets/pandas/gbq_dataset.py)
- `pip install kedro[sqlalc

[2020-05-02 00:58] mzjp2 commented on #342
Those make sense, but some of the tradeoffs are that we lose consistency with our `extra_requires` (some are groups, and others are individual datasets) and is `pip install kedro[pyarrow]` really that helpful over `pip install pyarrow` for example? Is it also scaleable as we people contribute more and more datasets? These are the questions we're wrestling with when trying to design a solution to t

[2020-05-02 09:18] fkromer opened #344 "[KED-1619] catalog.yaml configuration reference"
I'd like to understand what valid entries in `catalog.yaml` files are. Searching the kedro docs got me to [The Data Catalog](https://kedro.readthedocs.io/en/latest/04_user_guide/04_data_catalog.html). However the docs is an example, not really a reference. I was looking for something like e.g. [GitLab's `.gitlab-ci.yml` configuration reference](https://docs.gitlab.com/ee/ci/yaml/README.html).

[2020-05-03 18:10] tsanikgr opened #345 "[KED-1629] Enable caching for all datasets in the `DataCatalog`"
## Description
The `CachedDataset` enables caching of data on memory instead of loading from disk/network after the first load/save, and can save a lot of time if some datasets are loaded multiple times in a single run.

Declaring all datasets in the data catalog as `CachedDatasets` is very verbose, and need manual work to check what is used more than once, so I typically do this in code.

It woul

[2020-05-04 08:57] fkromer opened #347 "Provide an ubuntu package"
## Description

`kedro` allows users to encapsulate projects into `Docker` containers with `kedro-docker`. This means for running a `kedro` project `kedro` and `kedro` plugins are the only Python package dependencies in the OS, user or virtualenv (project) level.

## Context

If `kedro` would be available as package for Ubuntu (snap, flatpak) users would not have to care about this Python runtime

[2020-05-04 08:58] 921kiyo commented on #344
Hi, @fkromer thank you for your question.
Here is the list of datasets you can register in `catalog.yml` as type. jhttps://kedro.readthedocs.io/en/latest/kedro.extras.datasets.html

But if you have any specific question, feel free to ask us here or StackOverflow with kedro tag.

I can see the information is a bit scattered in the docs. We will have a look at Github docs and improve the structure o

[2020-05-04 09:29] fkromer commented on #344
Hi @921kiyo , thanks for the hint. I was interested in what keys such as `type`, etc. for different `file_format`s are valid as well. E.g. https://github.com/quantumblacklabs/kedro-examples/blob/master/kedro-exercises/spaceflight/conf/base/catalog.yml :

[code]

[2020-05-04 09:34] fkromer opened #348 "[KED-1619] logging.yaml configuration reference"
I'd like to understand what valid entries in `logging.yaml` files are. Searching the kedro docs did not provide the info I was looking for. Is related to https://github.com/quantumblacklabs/kedro/issues/344 .

[2020-05-04 09:35] fkromer opened #349 "[KED-1619] parameters.yaml configuration reference"
I'd like to understand what valid entries in `parameters.yaml` files are. Searching the kedro docs did not provide the info I was looking for. Is related to https://github.com/quantumblacklabs/kedro/issues/344 .

[2020-05-04 09:36] 921kiyo commented on #344
I totally agree with you that we can improve the docs better, I've logged this ticket and will address it :)
While some keys (`type`, `filepath` `version`) are common for all datasets, some of the arguments (`load_args`, `file_format`) are datasets specific. The easiest way to find out which keys are valid would be to find a dataset you are interested in in https://kedro.readthedocs.io/en/latest/k

[2020-05-04 09:38] fkromer commented on #344
@921kiyo Thx :)

[2020-05-04 10:11] sansagara opened #350 "[KED-1662] Allow loading of multiple versions of the same dataset on a single node."
## Description
Allow a particular pipeline node to load multiple versions of a versioned dataset that may exist on storage, maybe up to a limit (last N versions)

## Context
Recently, i came up with a use case where i wanted to load all existing versions of a particular dataset on a single node for joining them into a big, fat dataset. I ended up using a workaround (more complex than it needed to

[2020-05-04 11:55] yetudada commented on #337
Thanks for suggesting this @WaylonWalker! I've added it to our backlog so we can look into this.

[2020-05-04 11:55] yetudada commented on #336
We'll also have a look into this one. Thanks for raising this! 🎉

[2020-05-04 12:47] Minyus commented on #342
Yes, I understand designing a solution is tough.
I'm now wondering that lazy loading (deferring to load the module until the dataset object is actually used after importing) could be a solution.

[2020-05-04 13:13] Minyus commented on #343
I haven't faced any issues due to `fsspec` yet.
(I reported a design issue of the new pandas datasets https://github.com/quantumblacklabs/kedro/issues/342 , but not related to `fsspec`)
I like the idea of using `fsspec` for Kedro's datasets too.
Now that I understand how `fsspec` treats local files, I'd like to migrate to the new datasets.
Thank you.

[2020-05-04 20:51] zhangchi1 opened #351 "Kedro viz & kedro run --parallel don't work when working with Spark"
## Description
Kedro viz doesn't work when I follow the [Working with PySpark
](https://kedro.readthedocs.io/en/stable/04_user_guide/09_pyspark.html) tutorial

## Context
I'd like to use Spark session in my nodes to retrieve some data from my snowflake database. So, I followed the tutorial to initialize a SparkSession under `__init__` in `run.py`. It seems like `kedro viz` doesn't like me to initi

[2020-05-04 23:11] juan-carlos-calvo opened #352 "[KED-1642] `index` option in `pandas.ParquetDataSet`"
## Description
`ParquetLocalDataSet` accepts the `index` save option which specifies whether to save the index in parquet or not. `pandas.ParquetDataSet` doesn't have an equivalent option at the moment.

## Context
As the datasets in `kedro.io` are going to be deprecated and moved to `kedro.extras.datasets` kedro should have backward compatibility with the `load_args` `save_args` options. Also, in

[2020-05-05 08:27] 921kiyo commented on #351
Hi @zhangchi1 Thank you for opening the issue! We were aware of this issue, and have fixed it in https://github.com/quantumblacklabs/kedro/commit/af39796ac5fa1ed904d9c82cb283e783011344d3 (it is still in dev and we will release it soon. Please have a look at the diff).

You could pass the spark session object from `create_pipelines`. Another way I can think of is to override `_get_feed_dict` from `

[2020-05-05 08:57] 921kiyo commented on #350
@sansagara Thank you for the suggestion! We are interested in learning the use case a bit more :)

Could you elaborate the use case a bit more? Let's say you have 5 versioned data and each of them is slightly different (and most of them are the same). What happens when you join them all for duplicate and different values? Maybe a small example would be helpful for us to understand. And could you e

[2020-05-05 09:55] 921kiyo commented on #352
@juan-carlos-calvo Thank you for opening the issue! This makes sense to me. I've logged this in our backlog and will fix it :)

[2020-05-05 10:38] sansagara2 commented on #350
Sure NP. I'll explain the use case exactly.
We are doing scheduled scraps of websites that we store as Pandas CSV datasets on the RAW level. As with any website, each day you are going to get new information, and some will be gone.

My use case is to still have a raw version with only the data for that particular day, as a versioned dataset you can go and look if you need to. Then, on the INT stag

[2020-05-05 10:51] sansagara commented on #350
I got this feedback from another colleague about this feature request:

[2020-05-05 11:30] 921kiyo commented on #347
@fkromer Thank you for using Kedro and your suggestion/feedback!

We discussed this option internally just now. We understand that some Python packages with C-extensions might be available in snap. However Kedro is written in pure Python and Pypi is the community standard for a Python package. Therefore, unfortunately, we decided not to publish Kedro on snap.

Kedro is also in conda btw https://gi

[2020-05-05 11:30] #347 closed

[2020-05-05 12:24] gufodotto commented on #350
Hello there,

I second this request but I'd like to add a modification to the syntax enabling slice operator:

if a versioned catalog entryis written as:

entry[:5]
  ...

it would load the last 5 versions of it (and return them not joined, but as an ordered list, as suggested by the OP)

[2020-05-05 13:35] zhangchi1 commented on #351
Hello Kiyohito, thank you so much for your reply.

Yes, I pass the spark_session from `create_pipelines(self._spark_session)`. In order to serialize my nodes (I want to run kedro in parallel), I make my node as a class with a `spark_session` field. For example, I do `my_nodes = ClassNode(spark_session)` and `func=my_nodes.my_func`in the pipeline. Do you think that's a good practice?

Right now, I'

[2020-05-05 13:39] 921kiyo commented on #351
I assume you are referring to ParallelRunner? It does not work nicely with Spark, unfortunately, but we just added `ThreadRunner` in https://github.com/quantumblacklabs/kedro/commit/c79c21a50924b2f79f1207de167b27d7c7e8bef0 which would work with SparkDataSet (will be releasing in the next version).

[2020-05-05 13:52] zhangchi1 commented on #351
Yes, I am talking about `ParallelRunner`. Thanks for pointing me to the updated docs [kedro spark](https://github.com/quantumblacklabs/kedro/commit/af39796ac5fa1ed904d9c82cb283e783011344d3). At least, I can do `kedro run` now~~

[2020-05-05 13:57] 921kiyo commented on #351
You are welcome! I'm closing this issue, but feel free to reopen/ask us any more questions (we also have Stackoverflow https://stackoverflow.com/questions/tagged/kedro)!

[2020-05-05 13:57] #351 closed

[2020-05-06 03:52] jaklan opened #353 "[Q] Kedro + Kubeflow = ?"
Hi guys, at the very beginning - huge kudos for all the work you have already put in `Kedro` development. The tool is really great, but I'd like to understand one more thing:

**how do you see the future of `Kedro` in the context of `Kubeflow` (`Pipelines`) and related tools like e.g. `Rok` or `Kale`?**

Do you find `Kedro` + `Airflow` an alternative solution? Or maybe do you see a place for `Kedr

[2020-05-06 11:51] lorenabalan commented on #337
Hi @WaylonWalker , thank you for the suggestion! It has been addressed in [this commit](https://github.com/quantumblacklabs/kedro/commit/f7dd2478aec4de1b46afbaded9bce3c69bff6304), closing this issue as resolved.

[2020-05-06 11:51] #337 closed

[2020-05-06 11:58] yetudada commented on #353
Hi @jaklan! Thanks for raising this question.

Let me work my way through your response but I want to start by asking what do you like most about Kedro and how long have you been using it?

Then you've actually hit someone that we're currently building towards. This work is on the H2 roadmap and. What we're trying to do is give you a way to work in Kedro but have different deployment _targets_ bas

[2020-05-06 12:56] WaylonWalker commented on #337
Awesome. Thanks @lorenabalan !

[2020-05-06 13:00] WaylonWalker commented on #337
❤️ f-strings

[2020-05-06 13:09] mzjp2 commented on #343
I'll go ahead and close this issue, after Martin's clarification of how `fsspec` handles local paths. Thank you all. :)

[2020-05-06 13:09] #343 closed

[2020-05-06 15:22] f-istvan opened #355 "How can I save a Python list/dict as a json with catalog.save function from a Jupyter notebook?"
In my Jupyter notebook I want to save the following Python list into a json file:
[code]

Here is what I have in the catalog.yml:
[code]
And this is what I'm running in my Jupyter notebook:

`catalog.save("my_json_data", my_list )`

I got the following error message:
`list' object has no attribute 'to_json`

I tried to convert my list to a pandas.DataFrame since it has a to_json method but the res

[2020-05-07 00:55] juan-carlos-calvo opened #356 "[KED-1649] Add a decorator for validating inputs other than dataframes"
## Description
a decorator to validate types and expected properties of inputs other than dataframes (I leave the validation of dataframe expectations to Great Expectations).

## Context
It is very common to pass parameters to a node via a dictionary as in `params` or `params:train_params`. Usually, you would have to validate (inside the node function) that the dictionary has the fields you expect

[2020-05-07 08:05] 921kiyo commented on #355
Thank you for the question!

You can pass any pandas arguments with `save_args` in `catalog.yml`. It should look something like this
[code]

Note that catalog `type` should be `pandas.JSONDataSet`, not `kedro.io.JSONDataSet`.
Hope this helps :)

Btw, we have StackOverflow tags where you can ask questions as well :) https://stackoverflow.com/questions/tagged/kedro

[2020-05-07 08:19] 921kiyo commented on #356
Thank you for the suggestion! I've logged this and will discuss internally next week. It would be great if you could show a toy example code of how you would apply this decorator (in one node for example).

For the dict key, if it doesn't exist, it will simply fail before going to the node function. So I am not sure what you mean by validating it inside the node function. Maybe an example of valid

[2020-05-07 12:23] juan-carlos-calvo commented on #356
will do.

[2020-05-07 13:19] nishnash54 commented on #240
I was looking into this issue. @lorenabalan
The current implementation in `kerdo-viz` shows the `node.name` as the node (display text) and on hover displays the `node.func_name`.

Do you propose setting this unique identifier as the `node.name`?

To implement this behavior, we will either have to change the `kedro-viz` hover option or change the `node.func_name`.

[2020-05-07 17:21] yzhu32 opened #358 "IncrementalDataSet partition by strings contains integers"
## Description
The IncrementalDataSet feature is great. However, if the partitions are a list of strings with integers: `e.g. ["95/", "950/", "1003/", ]`, given the current `_list_partitions()` implementation, it returns `['1003/', '95/', '950/']`, but ideally it should return `["95/", "950/", "1003/"]` and save `1003/` into the checkpoint.

[code]

## Context
The current implementation is great i

[2020-05-08 07:33] yxw opened #359 "Allow CSVLocalDataSet and CSVDataSet to accept file-like object"
## Description
I got `UnicodeDecodeError` when I was trying to parse a CSV file (from an external data source) where there are columns uses inconsistent character encodings.  I tried various encodings (see below) and got `UnicodeDecodeError` no matter what encoding I passed in.

Rather than trying to get the data provider to use a consistent encoding (It's an external data source), I would just li

[2020-05-08 07:40] flvndh opened #360 "Is Kedro a good fit for data warehousing ?"
Hello,

I'm in the process of evaluating the pros/cons of using Kedro to build out my data warehouse pipelines using Spark.

By reading the documentation, my first impression is that Kedro is very well suited for clearly scoped data projects. I'm wondering if it is a good fit for data warehousing as the scope can grow quite large as new processes are added.

Has anyone ever used Kedro in this cont

[2020-05-08 10:06] flvndh opened #361 "Incompatible python-dateutil version with Kedro Viz"
## Context
Initializing a new Kedro project.

## Environment
- Windows 10
- Python 3.7.7
- Conda 4.7.12
- Pip 20.0.2
- Kedro 0.15.9

## Steps to Reproduce
[code]

[code]

## Side Effects

[code]

[code]

[2020-05-08 12:46] Minyus opened #362 "Flexibility for APIDataSet"
## Description
The provided `APIDataSet` allows to use only `text` or `json()` and does not support to get binary contents.

## Context
Getting binary contents such as images, models, and zip files are in demand.

## Possible Implementation
Allow users to specify the attribute to return.

[2020-05-10 04:29] limdauto commented on #329
@Galileo-Galilei Hi, just a quick update on this one: we are implementing both of these hooks and will release it in 0.16.

[2020-05-10 14:05] Minyus opened #364 "Support for Multiple URLs by APIDataSet"
## Description
The provided `APIDataSet` accepts only a single URL.
I'd like to request support for multiple, potentially a lot of, URLs similar to `PartitionedDataSet` interface, without being interrupted even if errors occur for some of the URLs.

## Context
It is useful to get multiple contents (e.g. json, image, video, model, zip files) through API.
Kedro provides `PartitionedDataSet` to suppo

[2020-05-11 06:45] deepyaman opened #366 "Standardize legal headers and `LICENSE.md`"
## Description
`legal_header.txt` (and the corresponding legal headers on top of source files) has nonstandard indentation on [line 22](https://github.com/quantumblacklabs/kedro/blob/d2d5ca1804d8a5b1d4ea2fe67ac09732e92956dc/legal_header.txt#L22) (middle line below):

[code]

Upon further investigation, this line isn't indented in `LICENSE.md`, but the Apache link is: https://github.com/quantumblac

[2020-05-11 09:23] et2010 commented on #144
What about modin: https://github.com/modin-project/modin

[2020-05-11 16:39] yetudada commented on #232
We merged this as part of #305

[2020-05-11 16:39] #232 closed

[2020-05-11 16:41] yetudada commented on #233
This was completed in #259. Thank you @Klio-Foxtrot187!

[2020-05-11 16:41] #233 closed

[2020-05-11 16:48] limdauto commented on #329
@Galileo-Galilei We have just merged these two hooks into develop. Thank you very much for the suggestion. It should go out with `0.16`.

[2020-05-11 16:48] #329 closed

[2020-05-11 16:56] yetudada commented on #236
We're going to handle this task internally after we release 0.16.0.

[2020-05-11 16:56] #236 closed

[2020-05-11 17:31] yetudada commented on #361
Hey @flvndh! Thanks for raising this issue. We actually have a fix coming for this in the next releases of Kedro-Viz, see it [**here**](https://github.com/quantumblacklabs/kedro-viz/commit/c577dffb095333df3f8cd5d811d8647a16f89990). Stay tuned because they're out soon.

I'll close this issue because it's fixed but I'm interested, do you use `kedro activate-nbstripout` in your workflow?

[2020-05-11 17:31] #361 closed

[2020-05-11 17:34] yetudada commented on #314
@921kiyo is currently making this change for our next release! Stay tuned 😄

[2020-05-11 18:43] mzjp2 commented on #342
Just a quick update on this, I have a prototype up and being dogfooded currently, will update here once I get some feedback and make some more progress.

The lazy loading was a good idea and was my initial first thought too, but ended up being a massive pain re: linting/typing/parsing and so I ditched it. Currently going for `try/except`s in the `__init__` files and also doing some refactoring to

[2020-05-11 18:47] mzjp2 commented on #207
Quick update on the work we're doing here. We've done an internal release a week or two ago with support for validating datasets as part of your pipeline, declaring the actions you want to be taken in a config file.

We're dogfooding this intensely at the moment, with lots of internal feedback and are planning on doing quite a lot more work, but inching closer to open sourcing!

GE is also releasi

[2020-05-12 11:41] LukasHaas commented on #143
@yetudada Great work! This is a feature I have really been looking forward to use; it will make building applications for clients so much easier!

[2020-05-12 19:37] fkromer opened #368 "Integrate docstring linting"
## Description

I'm always frustrated when I create the docs with `kedro build-docs` and recognize that I missed or messed docstrings up later.

## Context

This feature would save a lot of time in case you want to build your docs and do not want to integrate pydocstyle yourself on every new project.

## Possible Implementation

Integration of [pydocstyle](http://www.pydocstyle.org/en/5.0.1/) with

[2020-05-13 06:07] f-istvan commented on #355
Hi @921kiyo,

Right, the
[code]
options are passed to the
`kedro.extras.datasets.pandas.JSONDataSet.__init__` method. This is what I was looking for.

Thank you so much.

Questios: why `pandas.JSONDataSet` is prefered over ` kedro.io.JSONDataSet`?

Can I use `kedro.io.JSONLocalDataSet`? With `kedro.io.JSONLocalDataSet` I do not need to convert my json to `pd.DataFrame`. I can write out the json di

[2020-05-13 07:45] 921kiyo commented on #355
You are welcome:) You could use `JSONLocalDataSet`, but it will be removed in the Kedro 0.16.0 and replaced by `pandas.JSONDataSet`. The reason we are moving toward `pandas.JSONDataSet` is that it is platform agnostic (e.g there is no `Local` or `S3` keyword in the class name). It means it works on local and cloud platform like S3.

If you want to use `JSONLocalDataSet` in Kedro 0.16.*, then you c

[2020-05-13 09:02] 921kiyo commented on #350
@sansagara Sorry for being late in response, and thank you for explaining the use case!! I've logged your request and will discuss this feature internally :) Again, thank you for your suggestion!

[2020-05-13 09:16] 921kiyo commented on #358
@yzhu32 Thank you for the suggestion! While the default partition assumes the timestamp, you can also custom it by passing `comparision_func`. See https://kedro.readthedocs.io/en/latest/04_user_guide/08_advanced_io.html?Dataset#special-checkpoint-config-keys

Would that help your use case?

[2020-05-13 09:50] datajoely commented on #360
Hi @flvndh the short answer is - Yes, you can. Kedro is a framework for building out complex pipelines and provides abstractions for reading, transforming and writing data in neat and tidy way.

Since you're using Spark (and by definition here PySpark) as your execution engine very little of the pipeline's overhead will be Kedro and instead the heavy lifting will be executed on the cluster via Spa

[2020-05-13 15:12] 921kiyo commented on #341
@tamsanh Thank you for the great suggestion and apologies for being late in response.

There are lots of information and suggestion for chronocoding in your descriptions (which is really interesting!), but I would like to clarify the problem from your concrete example first, before thinking about the solution.

Regarding the concrete example you faced with JDBC connection, am I correct that the pr

[2020-05-13 20:49] zhangchi1 opened #369 "Versioning datasets in catalog.yml with flexible naming"
## Description
I recently read this page about versioning my data sets in the data catalog yaml file: https://kedro.readthedocs.io/en/latest/04_user_guide/04_data_catalog.html#versioning-datasets-and-ml-models.
[code]
It seems like the folder name before the <version> mush match with the file name, which in this case is "cars.csv". I am wondering is it possible to get rid of the "cars.csv" folder

[2020-05-14 09:48] f-istvan commented on #355
Thank you for the help.

[2020-05-14 09:48] #355 closed

[2020-05-14 09:49] lorenabalan commented on #338
Hi @jahas , pdf docs have been enabled (you can see the develop ones here https://kedro.readthedocs.io/_/downloads/en/latest/pdf/), so I'll go ahead and close this as resolved.  Thanks a lot for the suggestion! 😊

[2020-05-14 09:49] #338 closed

[2020-05-14 13:00] f-istvan opened #370 "How can I run my pipeline programmatically after I packaged my project?"
I ran `kedro package` and distributed my kedro project. Now, when I do a `pip install my_procejt` I get the package but the question is how can I run my pipeline from an external `.py` script. What should I import to my external python file and how can I run my pipeline?

Based on the generated `kedro_cli.py` I tried this (my_external_runner_script.py):

[code]

The `Path.cwd()` is obviously wrong

[2020-05-14 13:02] mzjp2 commented on #370
@limdauto looks like one for you. I believe there's improvements/fixes for this coming up soon in the next release

[2020-05-14 13:10] limdauto commented on #370
Hi @f-istvan, since `kedro package` only packages Python code, you will need the following in your current working directory:

* A `.kedro.yml` file with the content: `context_path: <my_project>.run.ProjectContext`
* A `conf/` directory with the configurations for your run.
* Optionally a `data/` directory if you use local data.

Then you can run your package with `python -m <my_project>.run`

In

[2020-05-14 14:46] f-istvan commented on #370
Hi @limdauto,

Adding the files and directories you described fixed my issue. I can run my pipeline with `python -m my_project.run`. This is great! However, I sill want to run the pipeline from a python script on my environment. It is just more convenient than a bash script. I understand that I can use `import subprocess` for example but something like this would be useful for me (my_external_runn

[2020-05-14 14:48] WaylonWalker commented on #370
@limdauto Can you explain the reasoning behind having `conf/` and `.kedro.yml` outside of the python library?  I am a bit confused why they wouldn't be inside so that `kedro package` could make standalone libraries.

[2020-05-14 15:31] limdauto commented on #370
@f-istvan Oh this is a very interesting use case. Interestingly enough, I thought calling `load_context(Path.cwd())` in the same directory as `conf/` and `.kedro.yml` should give you a useable context to run your pipeline programmatically. What error do you see?

@WaylonWalker That's a good question. We touched on this in our newly updated documentation about packaging: https://kedro.readthedocs.i

[2020-05-14 17:53] zhangchi1 opened #371 "Versioning datasets in catalog.yml with flexible naming"
## Description
I recently read this page about versioning my data sets in the data catalog yaml file: https://kedro.readthedocs.io/en/latest/04_user_guide/04_data_catalog.html#versioning-datasets-and-ml-models.
[code]
It seems like the folder name before the <version> mush match with the file name, which in this case is "cars.csv". I am wondering is it possible to get rid of the "cars.csv" folder

[2020-05-14 17:54] #369 closed

[2020-05-15 01:25] WaylonWalker commented on #370
Would it be possible to package up the catalog?  I have had some folks that do a lot of hypothesis testing that want fast access to data, and very little interest in building/running pipelines want the catalog for certain projects made easily portable.  They would really like to be able to `pip install amazing_pipeline` and start running hypothesis against data loaded off of the catalog.

Personal

[2020-05-15 09:42] limdauto commented on #370
@WaylonWalker Yes, you can. It's a bit more involved. In `setup.py`, there is an option for you to add package data, which are essentially non-Python files, in your distribution: https://setuptools.readthedocs.io/en/latest/setuptools.html#including-data-files

The problem, however, is that your package data need to be on the same level as your `setup.py` or below. Our `conf/` is in a layer above.

[2020-05-15 09:43] lorenabalan commented on #240
Hey @nishnash54 , apologies for the late reply.  Kedro-Viz currently makes use of `Node.short_name` and `Node._func_name`. We've been struggling with this idea for a while now and it feels like our API is a bit all over the place in terms of what is a name and what is an identifier, and how we use them in `Node` and `Pipeline` (`unique_key`, `validate_node_duplicates`, etc.), and we need to find t

[2020-05-15 14:10] mzjp2 commented on #342
Hi @Minyus, another update. I'm going to go ahead and close this via https://github.com/quantumblacklabs/kedro/commit/16604ec0203432b9897abb34e3bb4d1c59d1f81d -- you can see the commit for the solution we ended up designing. I think it's an all around win:

* Lets you selectively install dataset dependencies and will let you use a specific dataset within a group without having all other dependenci

[2020-05-15 14:10] #342 closed

[2020-05-15 14:19] mzjp2 commented on #344
Hi @fkromer, what would you think about a `jsonschema` that helped you validate your `config` file and autocomplete it (showing you what the required and optional fields are) in your IDE (that hopefully has support for `jsonschema`)?

[2020-05-15 14:34] tsanikgr commented on #328
An alternative would be to rely on python `dataclasses` to avoid additional dependencies. That said, I am not sure what additional features `pydantic` supports, and I know that this will work only on python 3.8+

[2020-05-15 15:00] mzjp2 commented on #362
Hey @Minyus, thanks again for raising this issue and the associated PR. 🙌

We've had a discussion and think that simplifying the interface of the `APIDataSet` is the direction that we're going in by only loading the `response` object and delegating what attributes to fetch from it to the loadee within a `node`. This was done in commit https://github.com/quantumblacklabs/kedro/commit/b2368656bbfc5e

[2020-05-15 15:00] #362 closed

[2020-05-15 15:06] 921kiyo commented on #366
Resolved in https://github.com/quantumblacklabs/kedro/commit/648f8943f3ff40515c23319b335f803fb41afb02 Thank you for your contribution!

[2020-05-15 15:06] #366 closed

[2020-05-15 15:12] fkromer commented on #344
@mzjp2 I thought about using [strictyaml](https://github.com/crdoconnor/strictyaml) to validate correctness of yaml files. I already used it a couple of times and it works very well.

[2020-05-15 15:44] Minyus commented on #342
Fair enough. Users can now use `pandas.CSVDataSet` as long as the actual dependency of the DataSet is met. Thanks @mzjp2 !

[2020-05-15 15:47] Minyus commented on #362
Fair enough. It now can be used to download a binary file. Thanks @mzjp2 !

[2020-05-15 18:53] WaylonWalker commented on #370
Thanks @limdauto, I got everything fully working from a pip installed wheel.  I moved conf/ and .kedro.yml into the library, included them in the Manifest, modified some path variables and it is working much easier than I anticipated.

This is a big move for us.  I do not really see as many use cases for using different catalogs as I do for folks who want to be able to pip install project and get

[2020-05-18 00:14] markf94 opened #374 "Kedro can't build requirements with newest pip (v20.1)"
## Description
`kedro build-reqs` fails when using the newest pip version `20.1`. However, it does work fine with pip version `19.3.1` (you can easily check by running `pip install pip==19.3.1`).

## Context
`pip` told me I should update to version `20.1` which I did with `pip install --upgrade pip`. Afterwards, I added some new requirements to `src/requirements.in` in my `kedro` project and wante

[2020-05-18 00:21] mzjp2 commented on #374
Hi @markf94 👋, thanks for reporting this!

I believe the error here stems from the version of `pip-tools` we have in our requirements being incompatible with `pip>=20.0`..

We actually have a fix for this in `develop` that increase the lower bounds for `pip-tools` to `>=5.0` to ensure compatibility with `pip>=20.0` as well as documenting the need for `pip>=20.0` in the migration guide.

The releva

[2020-05-18 03:31] markf94 commented on #374
Hi @mzjp2! Thanks for the fast reply. I'm just staying on pip `19.3.1` until you are working on the release.

[2020-05-18 14:04] mzjp2 commented on #265
As mentioned in PR https://github.com/quantumblacklabs/kedro/pull/268

[2020-05-18 14:04] #265 closed

[2020-05-18 14:08] mzjp2 commented on #255
We've removed the need to have Spark or Java installed to run the tests, as mentioned by @yetudada so this issue should be resolved now. I'll go ahead and close this, but if you're still running into any trouble please feel free to re-open or create a new issue! :)

[2020-05-18 14:08] #255 closed

[2020-05-18 14:15] mzjp2 commented on #254
I'll go ahead and close this issue, from the reasons mentioned in @yetudada comment. We don't think the use of a docker container for developing on `kedro` itself is necessary, and we've slimmed down on the pre-requisites for working on Kedro. If you come up with any other issues, please feel free to open another issue and thank you for raising this one! :)

[2020-05-18 14:15] #254 closed

[2020-05-18 14:20] mzjp2 commented on #374
Awesome. This should be fixed imminently, so I'll go ahead and close this. Thank you for raising the issue! :)

[2020-05-18 14:20] #374 closed

[2020-05-18 19:47] WaylonWalker commented on #368
I just discovered [interrogate](https://pypi.org/project/interrogate/)  It will solve your missing docstring issue with ease.

[2020-05-19 04:54] Minyus opened #375 "Save kedro pipeline image by pillow.ImageDataSet without manually launching kedro-viz server"
## Description
Currently we have to launch the `kedro-viz` server to see the visualized pipeline.
It will be more convenient if we can save the pipeline image by simply setting in `catalog.yml` like this:

[code]

## Context
This issue is related to #56 (moved to https://github.com/quantumblacklabs/kedro-viz/issues/31), but perhaps a more convenient feature.

## Possible Implementation
Provide som

[2020-05-19 05:03] Minyus commented on #364
I implemented this feature and published at: https://github.com/Minyus/pipelinex/blob/master/src/pipelinex/extras/datasets/requests/api_dataset.py#L168

[2020-05-19 10:20] jaklan commented on #353
@yetudada thanks for the answer and sorry for a late response, we had a busy time.

Together with @kaemo we are core members of a team that is responsible for MLOps adoption in our company - in general we define standards & guidelines how to conduct end-to-end Data Science projects.

Until now, we were working on our in-house framework to reassure the quality of our PoCs, incl. Project Template (C

[2020-05-19 16:18] Minyus opened #377 "Request: kedro-kubeflow plugin"
## Description

A plugin to productionize Kedro pipelines using Kubeflow.

## Context

Besides Airflow, Kubeflow is becoming another powerful platform for production.
Discussed at https://github.com/quantumblacklabs/kedro/issues/353 : @jaklan @kaemo @yetudada

## Possible Implementation

Convert Kedro pipeline into Kubeflow pipeline.
Reference: https://www.kubeflow.org/docs/pipelines/sdk/sdk-overv

[2020-05-19 22:57] #364 closed

[2020-05-20 09:58] limdauto commented on #370
@f-istvan I'm going to be closing this but please feel free to re-open it if you still have problems.

[2020-05-20 09:58] #370 closed

[2020-05-20 10:21] yetudada commented on #182
Hi @dasturge, I'm going to close this issue. In `kedro 0.16.0` you will find a [modular structure for your datasets](https://github.com/quantumblacklabs/kedro/tree/develop/kedro/extras/datasets). Meaning it's possible to determine if you're working with `pandas` or `numpy`. All dependencies related to datasets have also been moved out of the core library, [see the docs](https://kedro.readthedocs.i

[2020-05-20 10:21] #182 closed

[2020-05-20 10:23] yetudada commented on #188
Hi @barkerje! We hope that you got sufficient help from @DmitriiDeriabinQB on this issue. I'm going to be closing this issue. Let us know if you have any more thoughts by either commenting on this or creating a new issue.

[2020-05-20 10:23] #188 closed

[2020-05-20 10:24] yetudada commented on #213
Hi @parulML, I hope that you managed to get assistance on this. Let us know if you need anything else. I'll be closing this issue. If you are still stuck then just comment on it and we'll reopen it, or you can create a new issue if you have any more feedback or queries.

[2020-05-20 10:24] #213 closed

[2020-05-20 11:12] lorenabalan commented on #124
Thank you for the feature request! I am now closing this as Python 3.8 compatibility was enabled starting with version 0.16.0 released today.

[2020-05-20 11:12] #124 closed

[2020-05-20 11:28] limdauto commented on #171
Hi @KirtikumarShinde, in Kedro 0.16 and above, there is a new feature called [Hooks](https://kedro.readthedocs.io/en/stable/04_user_guide/15_hooks.html) that could help with this issue. You can put the Spark session initialisation inside `before_pipeline_run` hooks and it won't interfere with other plugin commands.

I'm going to be closing this issue but please feel free to open it if you still ha

[2020-05-20 11:28] #171 closed

[2020-05-20 14:37] WaylonWalker opened #379 "src_prefix is not configurable"
## Description
My project templates do not use a `src` directory.  Upgrading to `kedro==0.16.0` throws a `KedroContextError`.

## Context
I am not able to upgrade my projects to `kedro==0.16.0`

## Steps to Reproduce
create a project using `<project-name>/<project-name>` structure

## Expected Result

Load project as it did in `kedro==0.15.9`

## Actual Result

[code]

## Your Environment
Include

[2020-05-20 14:45] 921kiyo commented on #379
Hi @WaylonWalker Thank you for using the latest version already!
Did you specify `source_dir` in `.kedro.yml`? See my comment in https://github.com/quantumblacklabs/kedro/issues/149#issuecomment-617186704 and let me know if that helps?

[2020-05-20 14:45] WaylonWalker commented on #379
Found it, looks like it is already implemented.  setting `source_dir: ''` resolved the issue.

https://github.com/quantumblacklabs/kedro/blob/develop/kedro/context/context.py#L794

[2020-05-20 14:45] #379 closed

[2020-05-20 20:30] zhangchi1 opened #380 "cannot import name 'KEDRO_ENV_VAR' under Kedro 0.16.0"
## Description
My kedro project is created using Kedro 0.15.9.
I recently upgraded kedro using `pip install kedro==0.16.0`.
However, I got `ImportError: cannot import name 'KEDRO_ENV_VAR'` after I run `kedro info`.

## Context
Here is the detailed error message:

[code]
## Questions
1. Do you recommend to create a new kedro project using the new kedro version=0.16.0?
2. Is there an easy way to upg

[2020-05-20 20:36] mzjp2 commented on #380
Hello @zhangchi1 👋

Thanks for raising the issue. This is the expected behaviour. Kedro 0.16 is a breaking change from 0.15, and documented in the [breaking changes section](https://github.com/quantumblacklabs/kedro/blob/master/RELEASE.md#other-1) of the `RELEASE.md` notes. The notes also have the [migration steps](https://github.com/quantumblacklabs/kedro/blob/master/RELEASE.md#migration-for-kedr

[2020-05-21 12:04] andrii-ivaniuk commented on #279
Fixed in 8dc70bc

[2020-05-21 12:04] #279 closed

[2020-05-22 10:48] #380 closed

[2020-05-22 14:31] kevintelford opened #381 "[KED-1701] Windows VM and MAX_WINDOWS_WORKERS value"
## Description
When trying to run Kedro 0.15.9 on a Win2k12 VM on a vSphere cluster I got the error:
[code]

This is due to how Windows and/or vSphere reports CPUs

## Context
Can't run on Win VM on vSphere cluster; don't really care

## Steps to Reproduce
1. Run on vSphere cluster

## Expected Result
Errors and sadness

## Actual Result
Tell us what happens instead.

[code]

## Your Environment
I

[2020-05-22 14:35] yzhu32 commented on #358
@921kiyo Thanks! That makes sense.

[2020-05-22 14:35] #358 closed

[2020-05-22 14:37] tsanikgr opened #382 "[KED-1677] Allow easily extending built-in cli commands from plugins"
## Description
I would love to see something similar to what pytest does. If I install `pytest-xdist`, a new option `-n` is available which allows me to run my tests in parallel. Eg `pytest -n 8` would run my tests in 8 processes.

Would be could if we could do this with `kedro run`, e.g. `kedro run --my_option` without having to touch the `kedro_cli.py` file.

[2020-05-22 15:41] mzjp2 commented on #359
Hey @yxw! Thanks for raising this.

I _think_ this is actually fixed with the new style datasets. If you use `pandas.CSVDataSet` we actually pass the file description from `fsspec` into `pandas.read_csv` and you can specify the encoding used in the `fsspec.open` call (which, on local file systems is forwarded to the default `open`` in the `fs_args` argument.

So you would do something like:

[code

[2020-05-23 11:32] mzjp2 commented on #381
Hey @kevintelford, thanks for raising this! I didn't realise `futures` had a `max_workers` value! Can you try this workaround: In your `project/src/package/run.py`:

[code]

and let us know if it works? I'll file a bug report for this :)

[2020-05-23 15:40] kevintelford commented on #381
Sure thing Zain, I'll try next week and let you know. Also ping me on slack
if you'd like access to a VM to test anything out related to this.

Best,
K

On Sat, May 23, 2020, 7:32 AM Zain Patel <notifications@github.com> wrote:

[2020-05-23 16:28] WaylonWalker opened #384 "upgrading kedro_cli should be more explicit in the 0.15.* to 0.16.* migration guide"
## Description

I upgraded from a `0.15.9` project, and found that the `kedro_cli` module was quite angry.  Looking back over the migration guide, i found this note in the Migration Guide, within `Migration for kedro env environment variable`.

I completely glossed over this section because I was not utilizing environment variables for this project.

## Simple Resolution

Make this note a bit more

[2020-05-25 21:04] philippegr opened #385 "Regression 0.15 -> 0.16, can no longer specify parquet engine"
## Description
In version 0.15 the parquet engine used to saved Parquet files could be passed as argument, as `ParquetLocalDataSet` were saved via the pandas function:
https://github.com/quantumblacklabs/kedro/blob/98a6c8fbecc16d3d0f0a9d810b02e123c48e8285/kedro/io/parquet_local.py#L132
Starting with 0.16.0 the saving of `ParquetDataSet` is done by explicitly calling the pyarrow backend engine.
htt

[2020-05-25 22:33] mzjp2 commented on #385
Hi @philippegr, thank you for raising this, it's a good catch!

I _think_ there was a reason why we migrated to using `pyarrow` directly, but I can't quite remember. Someone else from the team should be able to give the reasoning there.

A workaround for now would be for you to copy the source code for the `parquet_dataset` and create a `fastparquet_dataset` which should be a very minor change.

[2020-05-25 22:42] mzjp2 commented on #344
I believe this issue should be resolved with the `jsonschema` now provided within the `kedro` repository here: https://github.com/quantumblacklabs/kedro/tree/develop/static/jsonschema

They can be read standalone (but they are autogenerated and can be a little tedious to read) or integrated into your editor of choice (there is documentation provided at the `latest` version of the docs for how to i

[2020-05-26 02:44] WaylonWalker commented on #344
Setup in VSCode was super easy and they work so good, thanks for this feature!

[2020-05-26 02:47] mzjp2 commented on #344
Glad to hear! 🎉 — just a quick note that the links in the snippet for VSCode `settings.json` is wrong. It had an extra `-schema` — you can get the right link bu opening the `static/jsonschema` folder itself on GitHub. I have a PR open to fix this, just waiting on an approval and should be merged in a couple of hours! 🙌

[2020-05-26 09:13] mzjp2 commented on #344
Closing this based on the above comments. Please feel free to re-open or open a new issue if something crops up :)

[2020-05-26 09:13] #344 closed

[2020-05-26 09:59] yetudada commented on #125
Hi @dasturge! We actually released an [`ImageDataSet`](https://kedro.readthedocs.io/en/latest/kedro.extras.datasets.pillow.ImageDataSet.html) that uses `pillow` recently. You may want to check that out. I'll close this issue for now, let us know if you need anything else.

[2020-05-26 09:59] #125 closed

[2020-05-26 10:33] lorenabalan commented on #334
Hi @Chtchou , can I ask what is your use case for filepaths inside the nodes? Also is it for an interactive workflow, or a pipeline run, etc?

@WaylonWalker 's code snippets are pretty much on point, the only difference is `filepath` is a private attribute in kedro datasets, so it'll be `catalog.datasets.input_name._filepath`.

An alternative would be to create a custom dataset that on load return

[2020-05-26 10:37] f-istvan opened #386 "How to work with long-lived refresh tokens and short-lived access tokens?"
## Description
In my scenario I have a service that works with short-lived access tokens and long-lived refresh tokens. So I need to use the long-lived refresh token to get a short-lived token. Than I can get the data with the short-lived token. When short-lived expires I need to get a new one.

I saw this example in the docs where I can pass arbitrary number of parameters to the underlying librar

[2020-05-26 10:52] limdauto commented on #386
You can use the [TemplatedConfigLoader](https://kedro.readthedocs.io/en/latest/kedro.config.TemplatedConfigLoader.html#kedro-config-templatedconfigloader) to solve this issue. When you create your config loader, you can call your utility function that gets the short-lived refresh token and add it to the `global_dict` parameter of the `TemplatedConfigLoader`.

Alternatively, if the utility you use

[2020-05-26 11:26] lorenabalan commented on #385
Hey @philippegr , did a bit of digging and turns out `to_parquet` and `fastparquet` didn't work with remote paths (at least at the time of development). Since we were aiming for the new dataset classes to be filesystem-agnostic, we switched to `pyarrow` backend instead.
I'm not sure if `dask.ParquetDataSet` would prove to be more useful here, or indeed, as Zain suggested, simply creating a custom

[2020-05-26 11:50] lorenabalan commented on #371
Hi @zhangchi1 , it's great to hear you're using Kedro!
The current versioning behaviour actually follows the Spark notation - it's modelling exactly what Spark does under the hood when writing a file to multiple partitions, which is why we prefer the current implementation.
In fairness, you could create a custom dataset which overrides a bunch of methods in `AbstractVersionedDataSet`, starting fro

[2020-05-26 14:39] vonTrappG opened #387 "Data Catalog dynamic arguments from non-local source"
A node in my pipeline pulls raw data from a given data source, however, the data source pull requires a dynamic input argument (e.g. an API token that expires, or a 'last-pulled' date that is updated in a remote database each time data are pulled). The dynamic input parameter values are not stored locally and need to be pulled each time the pipeline is run. In the case of a token, via an API reque

[2020-05-26 16:40] fkromer opened #389 "Integration of requirement management tool"
## Description

As a data Scientist/consultant I want to be able to deliver requirements and related tests to stakeholders/customers.

## Context

Stakeholders/customers do not care about  API documentation. The Sphinx documentation is suboptimal as Delivery artifact. Instead they are interested in the high level functionality implemented and if there are corresponding tests.

## Possible Implemen

[2020-05-27 00:03] philippegr commented on #385
Thank you both for your suggestions.
I ended up going with @mzjp2 's suggestion and copy pasted the code from 0.15 to our project repo. Thanks for the Dask idea @lorenabalan. It would have been quite involved here as this is a many nodes DS pipeline where each intermediary file is saved as parquet and so we would have had to convert back and forth to pandas in each one of them.

As for why we are

[2020-05-27 06:21] f-istvan commented on #386
Hi @limdauto,

This answers my question, thanks a lot.

Is it also possible to yield values from a dataset to an external service? Here is my use case for this:

I have 3 datasets with 3 nodes in my pipeline:
1. The first dataset gets raw data from an external API and save is locally. This uses a watermark (a timestamp) to get only the relevant data from the API. I can insert this watermark to the

[2020-05-27 09:30] andrii-ivaniuk commented on #228
[code]
Added a new dataset called `new_dataset`.
[code]

Using a new environment `myenv`.
[code]

Added `my_dataset` dataset:
[code]
@madhao
Do you still experience this issue?

[2020-05-27 09:31] madhao commented on #228
Let me test

[2020-05-27 09:36] andrii-ivaniuk commented on #228
@madhao I also check it in `jupyter notebook` (running `kedro jupyter notebook --env myenv `) and it also works fine.

[2020-05-27 09:39] andrii-ivaniuk commented on #352
Thanks @juan-carlos-calvo for reporting this.
It was fixed in 5330b45ce02b61281a27698a7fb67a2e09decaef commit.

[2020-05-27 09:39] #352 closed

[2020-05-27 09:49] lorenabalan commented on #336
Hi @WaylonWalker , thank you the issue! Unfortunately we decided to not move forward with this.

We'd like to keep the DataCatalog and the Pipeline independent from each other, for users to still be able to pick and choose bits from the library to use, and this change would make the two tightly coupled. We also can't guarantee that it's a `MemoryDataSet`. It is the responsibility of the runner to

[2020-05-27 09:49] #336 closed

[2020-05-27 10:01] lorenabalan commented on #314
The new kedro versions (0.16.*) have a lot of the CLI functionality moved to the library side. We left only functionality related to `kedro run`, as that tends to be the command that users customise most, and it's easier to have it in there handy rather than look for the source code and copy-paste some snippets if necessary.
We'll continue too look at the `kedro run` CLI UX as part of our roadmap,

[2020-05-27 10:01] #314 closed

[2020-05-27 10:08] lorenabalan commented on #325
Hi @d-chambers , good news! This has become significantly easier since we introduced [Hooks](https://kedro.readthedocs.io/en/stable/04_user_guide/15_hooks.html) in 0.16.*. @limdauto and @mzjp2 went ahead and included an example in our docs that you might find useful: https://github.com/quantumblacklabs/kedro/commit/f227d4dc2ec22e89fa519457b690111c8a8827b0. Bear in mind this will only be available

[2020-05-27 10:14] lorenabalan commented on #325
Closing this as resolved as per https://kedro.readthedocs.io/en/latest/04_user_guide/16_debugging.html

[2020-05-27 10:14] #325 closed

[2020-05-27 10:23] lorenabalan commented on #360
Hello! I'll go ahead and close this issue as answered, but please feel free to reopen / open a new one if you require more information!

[2020-05-27 10:23] #360 closed

[2020-05-27 10:37] limdauto commented on #386
Hi @f-istvan:

* If you really want to do this at a dataset level, you can use [Transformers](https://kedro.readthedocs.io/en/latest/04_user_guide/04_data_catalog.html?highlight=transformer#transforming-datasets) to wrap `_load` and `_save` method with custom logic. However, since you are already using a custom dataset, why can't you update the watermark inside the `_save` method? Where is this wa

[2020-05-27 10:37] #386 closed

[2020-05-27 10:43] lorenabalan commented on #384
Good spot! I agree that it's not immediately obvious from phrasing the migration guide,  so it'll need a fix there.

Most of this has been addressed in 0.16.*. We made a conscious decision to not remove functionality related to `kedro run`. That commands seemed to be the most likely to be customised, and we wanted to maintain an accessible workflow for beginners to just be able to read/modify the

[2020-05-27 10:49] seeM commented on #314
Thanks @921kiyo @yetudada @lorenabalan for handling this so well 😄

[2020-05-27 10:56] lorenabalan commented on #359
Hi @yxw , any luck follow @mzjp2 's suggestion above? Extra args like `encoding`, `mode` could fix the issue you're facing.

[2020-05-27 11:02] lorenabalan commented on #126
Closing this as answered, but please feel free to open a new issue if you need additional help. :)

[2020-05-27 11:02] #126 closed

[2020-05-27 11:06] lorenabalan commented on #151
Closing this as resolved in https://github.com/quantumblacklabs/kedro/commit/30eb0692fac696a971af31de6337412e38105ecd

[2020-05-27 11:06] #151 closed

[2020-05-27 11:08] lorenabalan commented on #101
I believe this has been addressed by the new-style IO classes using `fsspec`. Please feel free to open a new issue if the problem persists.

[2020-05-27 11:08] #101 closed

[2020-05-27 11:15] limdauto commented on #387
Hi @vonTrappG this sounds very similar to the question here: https://github.com/quantumblacklabs/kedro/issues/386 -- could you check to see if the approach in there work for you?

[2020-05-27 11:32] kevintelford commented on #381
@mzjp2 - just to follow up, the proposed fix worked.

Also fwiw my VM CPU count was set at 64, which was greater than the 61 allowed. So in this case it wasn't falsely reporting the vSphere cluster CPUs, it in-fact just had a large number of vCPUs on the VM :)

[2020-05-27 12:27] WaylonWalker commented on #384
I think a simple modification in #383 will suffice for solution 1, thanks for considering option 2 and making a conscious decision that is best for everyone.

[2020-05-27 12:27] #384 closed

[2020-05-27 12:43] WaylonWalker commented on #336
Thanks @lorenabalan, I forgot this one was still open.  Hooks made it super easy to solve for my use case.  I posted it in a gist.

https://gist.github.com/WaylonWalker/2f1da8d47e511d188c50b8cccb7e3856

[2020-05-27 14:42] WaylonWalker opened #390 "[KED-1708] Versioned datasets throw filename syntax error on Windows-latest"
## Description

While developing a kedro plugin I started failing matrix testing with versioned datasets due to windows path.  For now I have turned off versioning and the tests pass successfully.

### Error
full traceback further down 👇
[code]

### full report of failing test
https://github.com/WaylonWalker/steel-toes/runs/707423172?check_suite_focus=true

## Context
This is not greatly impacting

[2020-05-27 14:59] lorenabalan commented on #390
Thanks Waylon, I've logged a ticket so the team can track this.

[2020-05-27 15:28] lorenabalan commented on #389
Hi @fkromer! Inside a kedro project, users are currently able to manage their requirements using [pip-tools](https://pypi.org/project/pip-tools/), via `kedro build-reqs`, which does a pretty reasonable job. However users are still free to override the behaviour of the CLI command to use something else, in the `kedro_cli.py` file of their project.

We don't want to impose a specific tool to use in

[2020-05-27 17:05] lorenabalan commented on #349
Hi @fkromer , there's an example [in the user guide](https://jira.quantumblack.com/browse/KED-1615), but it's basically just regular yaml syntax, no extra reserved words. #344 has been further addressed with json schemas to integrate in your IDE to aid the development workflow.

[2020-05-27 17:15] lorenabalan commented on #375
Hi @Minyus ! I'm a little apprehensive about using some magic in the catalog to get the pipeline visualisation. I wonder if there's a way to leverage @WaylonWalker 's [kedro-static-viz](https://pypi.org/project/kedro-static-viz/) plugin here?

[2020-05-27 17:39] fkromer commented on #389
@lorenabalan Actually it is not about dependency requirements, but stakeholder requirements. However I think you're right. Not every user will need this functionality. It should be placed into a separate plugin.

[2020-05-27 17:39] #389 closed

[2020-05-28 02:28] yxw commented on #359
Thanks @mzjp2 for the suggestion.  I did tried and the `UnicodeDecodeError` still exists.

Here is my test case to reproduce it:
[code]

Do notice the different double quote char around `Clorox`: the ending double quote is a "special" double quote (\xe2\x80\x9d) which break the decoding I think. The error I got is still
`UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 58: ch

[2020-05-28 08:49] lorenabalan commented on #371
I am closing this as answered, but please feel free to re-open if there are further concerns, or ask a question on [Stackoverflow](https://stackoverflow.com/questions/tagged/kedro), which might be better suited for this purpose. 😊

[2020-05-28 08:49] #371 closed

[2020-05-28 09:39] mzjp2 commented on #359
Hi @yxw, thank you so much for that snippet -- it makes it so much easier!

That said, I don't seem to get the error on my MacOS laptop (on Kedro 0.16.1 or 0.15.9) - so it might be a windows specific thing? In any case, as long as you're on Kedro 0.16.1, this _should_ (theoretically) work:

[code]

Does that help?

[2020-05-28 10:30] lorenabalan commented on #162
Coming back here to check if this could be a [modular pipelines](https://kedro.readthedocs.io/en/stable/04_user_guide/06_pipelines.html#connecting-existing-pipelines) use case.
To be honest I can't think of a way to do this _without_ versioning or just using `MemoryDataSets` for intermediary datasets so there is no overwriting. If you leave them in memory, it can just be an exercise of composing a

[2020-05-28 10:41] yxw commented on #359
Hi @mzjp2 , thanks the tips on the `fs_args`. I didn't realize that, this is my first Kedro project :).

However, I still have the same `UnicodeDecodeError`. After my kedro version is 0.15.9 and I'm running on Windows 10. Since you don't have the same error, it might be a Windows specific thing.

[2020-05-28 10:42] mzjp2 commented on #359
The `fs_args` will only work on 0.16 onwards :(

[2020-05-28 10:45] yxw commented on #359
Oh, I just realized there is two releases just about a weeks ago!  I verified releases two weeks ago I thought I have the latest version.
And yes, that's probably the reason. I'll upgrade the version and verify again.

[2020-05-28 12:00] fkromer opened #391 "Question: Unconventional Python package dependency management"
I'm writing a plugin for Kedro right now. In the Python world one usually uses Pipenv or Poetry for package dependency management. I've never seen a project where package dependency management has been done manually. Both tools are capable of exporting production and test dependencies into `requirements.txt` and `test_requirements.txt` respectively. Is there a reason why you don't use Pipenv or Po

[2020-05-28 14:38] Minyus commented on #375
Hi @WaylonWalker , what do you think about using `kedro-static-viz` in a Kedro hook?

[2020-05-28 15:09] lorenabalan commented on #391
Hi @fkromer , great to hear you're developing a plugin! Would be great to have it featured in our community-developed plugins list.

We have actually taken a stab at moving to Poetry about 3 months ago, but it created more problems than it solved, so we decided to park it for the time being. The main packaging offenders were the `cookiecutter` template and the built documentation.

However you are

[2020-05-28 15:24] lorenabalan commented on #368
Thank you both for the suggestions! This is again quite dependent on users' choices, so we'd like to leave it up to them to choose the right tool, if even they want one, at least for the time being. However we have noted this as a potential use case to account for for when we think about #382, to facilitate the whole experience of extending/integrating various bits of the CLI. :)

[2020-05-28 15:28] #368 closed

[2020-05-28 15:54] mzjp2 commented on #359
Awesome. Let me know how you get on :)

[2020-05-28 21:18] oscartse68 commented on #228
Hi I am also encountering this issue after updating Kedro from 0.15.9 to 0.16.1
I got the red line under KEDRO_ENV_VAR while opening in pycharm. Everything works fine before upgrading to 0.16.1

Inside kedro_cli.py, line 54

`Cannot find reference 'KEDRO_ENV_VAR' in '__init__.py' `

btw sorry I'm quite new on GitHub, still improving my commenting skill.
@andrii-ivaniuk
@madhao

# Full terminal com

[2020-05-28 21:43] Burn1n9m4n opened #392 "Error trying to use "header: None" within catalog.yml"
## Description
Trying to read in a file from the catalog that is a text file using CSVDataSet causes the first line of data to become the header for the columns. When I try to use 'header: None', which is a valid argument, I get an error.

## Context
I'm basically trying to tell pandas that there is no header and that there are no names so that all the columns default to just integer labels.

## S

[2020-05-28 21:58] mzjp2 commented on #392
Can you provide a minimal working example with an example `a.txt` file? I (at least) can't reproduce this.

From what I can see, `kedro` is just bubbling up `pandas`'s error. Do you get the same thing if you run `pd.read_csv("data/a_raw/a.txt", header=None, names=None, ...)`?

[2020-05-28 22:04] mzjp2 commented on #228
This is expected from the upgrade. If you look at the [`RELEASE.md` ](https://github.com/quantumblacklabs/kedro/blob/master/RELEASE.md) release notes, there's a section that lays out how to migrate your project from 0.15.9 to 0.16.1. The relevant bit here is under the section [Migration for CLI and KEDRO_ENV environment variable](https://github.com/quantumblacklabs/kedro/blob/develop/RELEASE.md#mi

[2020-05-29 04:09] WaylonWalker commented on #375
@Minyus You nearly read my mind, `kedro-static-viz == 0.3.0` is out now with this functionality.

It does not create an image as the Issue is requesting, but it creates a static site will the same look, feel, and interactivity of `kedro-viz`, without the need to keep the flask server running if you have a place to host static content.

[2020-05-29 04:58] Minyus commented on #375
@WaylonWalker  Awesome! I'll try it. Thanks!

[2020-05-29 10:09] andrii-ivaniuk commented on #310
`HoloviewsWriter` dataset was added in 8e72566b003a681cc00450daaa7c9e6b29120efc commit.

[2020-05-29 10:09] #310 closed

[2020-05-29 14:04] Burn1n9m4n commented on #392
I have had no problems running this bit of code locally on my machine without kedro:
a_raw = pd.read_csv(
    "C:\\Users\\<filepath>\\raw_data.txt",
    sep="|",
    skiprows=1,
    header=None,
    names=None,
    encoding="ISO-8859-1",
    quoting=3,
)

For context, the underlying data from the text file looks something like this:
DATA|123|2020-05-03|

As you can see it's pipe separated. The ski

[2020-05-29 15:08] Minyus commented on #392
@Burn1n9m4n

It seems YAML does not treat "None" as Python's `None`.
Instead, use "null", "Null", "NULL", or simply leave it empty like this:

[code]
Reference: https://yaml.org/type/null.html

[2020-05-29 18:51] Burn1n9m4n commented on #392
@Minyus That fixed it! I just left them blank and it seems to have correctly addressed the issue. The output now looks as it should like this:
       0         1            2
0 DATA     123   2020-05-03

Thanks!

[2020-05-29 18:52] mzjp2 commented on #392
Good catch Minyus, that completely slipped by me! I'll go ahead and close this issue. Thank you for raising it @Burn1n9m4n :)

[2020-05-29 18:52] #392 closed

[2020-05-30 01:11] WaylonWalker commented on #392
Great catch @Minyus!  I tend to get confused with yaml as well.  When you take a minute to remember that yaml is a superset of JSON, for me at least, this issue makes a lot of sense.

[2020-05-30 13:58] tsanikgr opened #393 "[KED-1834] Notify on new versions"
## Description
The github cli notifies on new versions as follows.
Would be nice if the `kedro` cli did the same :)

<img width="385" alt="Screenshot 2020-05-30 at 16 58 21" src="https://user-images.githubusercontent.com/3808292/83330308-c9a43f00-a296-11ea-8471-65411673e880.png">

[2020-05-31 00:48] tamsanh opened #394 "[KED-1756] PartitionedDataSet to allow Empty Paths"
## Description
IncrementalDataSet currently supports having an empty path, so how can we also let PartitionedDataSet do the same?

## Context
Currently, if I'm using a PartitionedDataSet, I'm required to put something in the partitioned path. If it is empty, there is an inescapable Exception that is thrown when the pipeline is run.

In my opinion, verifying if data is available or should be done i

[2020-05-31 03:51] oscartse68 commented on #228
@mzjp2 Hi thanks! It works like charm, will look at the release note before raising the question next time 🤣 May I ask do quantumblack provides any YouTube/learning channel for Kedro?

[2020-05-31 11:46] yetudada commented on #228
@oscartse68 We're so glad that you're all sorted out on this one. I have one question and recommendation for you as a follow-up to this question you've asked.

My question is, "Why would you like to see a YouTube or video-based learning channel for Kedro?"

And then on that I would definitely recommend checking out the [DataEngineerOne series on YouTube](https://youtu.be/rf8yBHsDOj4). It's a serie

[2020-05-31 12:21] oscartse68 commented on #228
@yetudada Thankyou for your reply, I am quite new in engineering and would like to kickstart my project with kedro, DataEnginerOne is definitely a great channel for beginners!

[2020-05-31 12:26] yetudada commented on #228
@oscartse68 This is good to know! If you think of anything that can be done to make explaining Kedro a bit easier then let us know but otherwise we hope that you enjoy DataEngineerOne. We're really big fans!

[2020-06-01 04:12] yxw commented on #359
Hi @mzjp2 , after migrating my project from 0.15.9 to 0.16.1 (it took some effort), I manage to pass my tests with the new "fs_args.open_args_load" parameters as shown in your example code above.

Thank you so much!
This issue can be closed.

[2020-06-01 08:16] fkromer commented on #391
@lorenabalan The plugin under development is [kedro-doorstop](https://github.com/fkromer/kedro-doorstop). A package dependency is LGPL-licensed. Is it suitable for the list given this license?

What's the limitation which blocked you from migrating?

I use Poetry for package dependency management. As it [is capable of exporting `requirements.txt` and `test_requirements.txt` files in the required f

[2020-06-01 08:36] lorenabalan commented on #391
To quote from some of the findings at the time:

Licenses don't interfere with us simply linking to plugins [here](https://kedro.readthedocs.io/en/stable/04_user_guide/10_developing_plugins.html#community-developed-plugins). Please feel free to raise a PR when you're happy with it.
I'll go ahead and close this issue as answered.

[2020-06-01 08:36] #391 closed

[2020-06-01 08:38] mzjp2 commented on #359
Perfect. Glad to hear. We're trying to improve our release process so that bugfixes aren't packaged with breaking changes and you can benefit from bug fixes/new features without migrating your project. I'll go ahead and close this now :)

[2020-06-01 08:38] #359 closed

[2020-06-01 12:08] sanjaymeena opened #396 "Running multiple pipelines in Kedro"
Hello, I am using Kedro for a project which I want to extend to support different countries. I want to have one pipeline for each country in the project.  Any pointers on how can I achieve this ?

[2020-06-01 12:17] limdauto commented on #387
Hi @vonTrappG I will close this issue as it seems similar to https://github.com/quantumblacklabs/kedro/issues/386, i.e. you can use `TemplatedConfigLoader` to parameterise your query. However, please feel free to reopen the issue if it doesn't solve your problem.

[2020-06-01 12:17] #387 closed

[2020-06-01 12:20] mzjp2 commented on #396
Hey @sanjaymeena!

I wonder if this is a usecase for some of the [modular pipeline](https://kedro.readthedocs.io/en/stable/04_user_guide/06_pipelines.html#developing-modular-pipelines) functionality we have in the latest Kedro release. @lorenabalan has an answer here to a separate question that I think could be useful in your case to look at as a reference to implementing your multiple pipelines:

[2020-06-01 12:55] limdauto commented on #162
Another way to look at this is related to https://github.com/quantumblacklabs/kedro/issues/382

If user can write extensions so that they can easily add a new parameter such as `--batch` to `run` command:

[code]

then they can launch multiple scripts in the background, each running one particular batch.

[2020-06-01 13:10] Minyus opened #397 "Allow catalog in Python format in addition to YAML"
## Description

I would suggest allowing declaring catalog datasets as a Python code in addition to YAML.

## Context

I personally like to use YAML, but it seems that forcing YAML format as catalog is becoming an obstacle for many Python users to start to use Kedro.

Here are some examples new Kedro users suffered from YAML :

- https://github.com/quantumblacklabs/kedro/issues/386
- https://githu

[2020-06-01 13:30] mzjp2 commented on #397
Hi @Minyus! Thanks for raising this.

I believe we already have some sort of support for this, documented here: https://kedro.readthedocs.io/en/stable/04_user_guide/04_data_catalog.html#using-the-data-catalog-with-the-code-api in the "Data Catalog with the Code API". Have you had a look through that and how does it differ from what you propose? Does it fit the need?

In terms of the `after_catalog

[2020-06-01 13:39] Minyus commented on #397
Hi @mzjp2

I believe most of Kedro users want to use KedroContext, but the document (https://kedro.readthedocs.io/en/stable/04_user_guide/04_data_catalog.html#using-the-data-catalog-with-the-code-api) does not use KedroContext.
It would be useful for unit testing though.

[2020-06-02 01:26] tamsanh commented on #397
@mzjp2   The `after_catalog_created` hook does allow one to modify the catalog just fine.

@Minyus You should be able to create the pipelines in a separate class, and attach it to the context using hooks.

Ex:

[code]

[2020-06-02 05:15] sanjaymeena commented on #396
Hey @mzjp2  , thanks! I've upgraded kedro version to `0.16.1` and trying out modular pipelines. They are nice!

I had another question regarding common parameters across pipelines.  My two pipelines differ only by a country parameter which is defined in `conf/base/parameters.yaml`. I am unable to override that parameter in `conf/base/pipelines/parameters.yaml` as I get

`ValueError: Duplicate keys

[2020-06-02 07:21] vonTrappG commented on #387
@limdauto Thanks for you quick response issue #386 is very similar

[2020-06-02 07:41] andrii-ivaniuk commented on #123
The new dataset was added in 75e7fb6678b6fdc73ad088ade20666016ecd5a85 commit.

[2020-06-02 07:41] #123 closed

[2020-06-02 07:43] andrii-ivaniuk commented on #176
The new dataset was added in 75e7fb6678b6fdc73ad088ade20666016ecd5a85 commit.

[2020-06-02 07:43] #176 closed

[2020-06-02 08:24] fkromer opened #398 "Kedro does not play well with Poetry"
## Description

I have created a virtual environment with Poetry into `<kedro-project-root>/.venv/` and added Kedro as development dependency. If I try to run the Kedro CLI an exception is raised.

## Context

This issue implies that you cannot use Kedro with Python 3.8 if you don't want to install Kedro and Kedro project dependencies into the system or user installation of Python. Kedro-docker do